<ion-header>
    <ion-toolbar class="equi-toolbar">
        <ion-buttons left>
            <button ion-button icon-only (click)="goBack()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title class="equi-toolbar-title-content">
            <span class="equi-toolbar-title">{{nombreCaballo}}</span>
            <br />
            <span class="equi-toolbar-subtitle">Notas</span>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar (ionInput)="findCaballos($event)" [autocomplete]="true"></ion-searchbar>

    <equi-button-add [label]="'Agregar nuevo'" (action)="goInsertNotificacion()"></equi-button-add>

    <ion-list>
        <ion-grid>
            <ion-item-sliding *ngFor="let notificacion of notificacionList" (click)="goViewNotificacion(notificacion)">
                <ion-item text-wrap>
                    <ion-row *ngIf="notificacion.AlertaGrupal">
                        <ion-col class="equi-table-row-title">
                            Nota grupal
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-10>
                            <p class="equi-title-form equi-title-note">{{notificacion.Titulo}}</p>
                        </ion-col>
                        <ion-col col-2 class="text-align-right equi-principal-color">
                            <ion-icon name="notifications"></ion-icon>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-8 class="equi-col-note">{{notificacion.Descripcion}}</ion-col>
                        <ion-col col-4 class="text-align-right equi-principal-color">
                            {{notificacion.FechaNotificacionToString}}
                        </ion-col>
                    </ion-row>
                </ion-item>

                <ion-item-options *ngIf="!notificacion.AlertaGrupal">
                    <button ion-button color="danger" icon-left (click)="deleteNotification(notificacion)">
                        <ion-icon name="trash"></ion-icon>       
                        Eliminar
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-grid>
    </ion-list>
</ion-content>