<ion-header>
  <ion-toolbar class="equi-toolbar">
    <ion-buttons left>
      <button ion-button icon-only (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title class="equi-toolbar-title-content">
      <span class="equi-toolbar-title">{{nombreCaballo}}</span>
      <br/>
      <span class="equi-toolbar-subtitle">{{ "PANT007_LBL_SUBTNO" | translate }}</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="filter($event)" [autocomplete]="true"
                 [placeholder]="labels['PANT007_TXT_FILNOT']"></ion-searchbar>

  <equi-button-add [label]="labels['PANT007_BTN_AGEN']" (action)="goInsertNotificacion()"></equi-button-add>

  <div *ngIf="loading" style="text-align: center;">
    <ion-spinner></ion-spinner>
  </div>

  <!-- notas de caballos -->
  <ion-list *ngIf="notasCaballo.length > 0">
    <ion-grid>
      <ion-item-sliding *ngFor="let notificacion of notasCaballo">
        <ion-item text-wrap (click)="goViewNotificacion(notificacion)">
          <ion-row>
            <ion-col col-10>
              <p class="equi-title-form equi-title-note">{{notificacion.Titulo}}</p>
            </ion-col>
            <ion-col col-2 class="text-align-right">
              <ion-icon *ngIf="notificacion.Activa" class="equi-principal-color" name="notifications"></ion-icon>
              <ion-icon *ngIf="!notificacion.Activa" class="equi-edit" name="ios-notifications-off"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-8 class="equi-col-note">{{notificacion.Descripcion}}</ion-col>
            <ion-col col-4 class="text-align-right equi-principal-color">
              {{notificacion.Fecha}}
            </ion-col>
          </ion-row>
        </ion-item>

        <ion-item-options>
          <button ion-button color="danger" icon-left (click)="deleteNotification(notificacion)">
            <ion-icon name="trash"></ion-icon>
            {{ "PANT007_BTN_ELI" | translate }}
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-grid>
  </ion-list>

  <!-- notas grupales -->
  <ion-list *ngIf="notasGrupos.length > 0">
    <ion-grid>
      <ion-row>
        <ion-col class="equi-table-row-title">
          {{ "PANT007_LBL_NOGU" | translate }}
        </ion-col>
      </ion-row>

      <ion-item-sliding *ngFor="let notificacion of notasGrupos">
        <ion-item text-wrap (click)="goViewNotificacion(notificacion)">
          <ion-row *ngIf="notificacion.showLabelGrupal">
            <ion-col class="equi-table-row-title">
              {{ "PANT007_LBL_NOGU" | translate }}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-10>
              <p class="equi-title-form equi-title-note">{{notificacion.Titulo}}</p>
            </ion-col>
            <ion-col col-2 class="text-align-right">
              <ion-icon *ngIf="notificacion.Activa" class="equi-principal-color" name="notifications"></ion-icon>
              <ion-icon *ngIf="!notificacion.Activa" class="equi-edit" name="ios-notifications-off"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-8 class="equi-col-note">{{notificacion.Descripcion}}</ion-col>
            <ion-col col-4 class="text-align-right equi-principal-color">
              {{notificacion.Fecha}}
            </ion-col>
          </ion-row>
        </ion-item>

        <ion-item-options>
          <button ion-button color="danger" icon-left (click)="deleteNotification(notificacion)">
            <ion-icon name="trash"></ion-icon>
            {{ "PANT007_BTN_ELI" | translate }}
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-grid>
  </ion-list>
</ion-content>
