<ion-grid>
  <ion-row>
    <ion-col col-12>
      <ion-searchbar (ionInput)="filter($event)" [autocomplete]="true"
                     [placeholder]="labels['PANT007_TXT_FILNOT']"></ion-searchbar>

      <div *ngIf="loading" style="text-align: center;">
        <ion-spinner></ion-spinner>
      </div>
    </ion-col>
  </ion-row>

  <ion-row *ngFor="let ec of eventos" class="border-bottom">
    <ion-col col-4>
      <ion-row>
        <ion-col col-12 class="col-center">
          <span [ngClass]="{'equi-edit': isFilter}" class="equi-bold-text" [innerHTML]="ec.FechaCortaFilter"></span>
        </ion-col>
        <ion-col col-12 class="col-center">
          <span [ngClass]="{'equi-edit': isFilter}" class="equi-normal-text" [innerHTML]="ec.DiaFilter"></span>
        </ion-col>
      </ion-row>
    </ion-col>

    <ion-col col-8>
      <ion-list no-lines>
        <ion-item-sliding *ngFor="let e of ec.Notificaciones; let i = index">
          <ion-item text-wrap tappable (click)="view(e)">
            <ion-row [ngClass]="{'border-bottom': i < (ec.Notificaciones.length-1)}">
              <ion-col col-12 class="equi-title-note">
                <span [ngClass]="{'equi-edit': isFilter}" class="equi-bold-text" [innerHTML]="e.TituloFilter"></span>
              </ion-col>
              <ion-col col-12 class="equi-title-note" *ngIf="e.Ubicacion && e.Ubicacion != null">
                <ion-icon name="ios-pin"
                          [ngClass]="{'equi-edit': isFilter,'equi-principal-color': !isFilter}"></ion-icon>
                <span [ngClass]="{'equi-edit': isFilter}" class="equi-normal-text"
                      [innerHTML]="e.UbicacionFilter"></span>
              </ion-col>
              <ion-col col-12>
                      <span [ngClass]="{'equi-edit': isFilter}" class="equi-normal-text"
                            [innerHTML]="e.HoraFilter"></span>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item-options>
            <button ion-button color="danger" icon-left tappable (click)="delete(e)">
              <ion-icon name="trash"></ion-icon>
              Eliminar
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>
