<div *ngIf="options.step == CALENDAR_STEP_YEAR">
  <ion-grid class="equi-calendar-space">
    <ion-row class="equi-calendar-space">
      <ion-col col-4 *ngFor="let month of selectedYear.months"
               class="equi-calendar-space equi-calendar-month-col"
               (click)="selectMonth(month)">

        <!-- cada mes -->
        <ion-grid class="equi-calendar-space">
          <ion-row class="equi-calendar-space">
            <ion-col col-12 class="equi-calendar-space equi-calendar-title-month">{{month.nameMonth}}</ion-col>
          </ion-row>
          <ion-row class="equi-calendar-space">
            <ion-col class="equi-calendar-space equi-calendar-days">L</ion-col>
            <ion-col class="equi-calendar-space equi-calendar-days">M</ion-col>
            <ion-col class="equi-calendar-space equi-calendar-days">M</ion-col>
            <ion-col class="equi-calendar-space equi-calendar-days">J</ion-col>
            <ion-col class="equi-calendar-space equi-calendar-days">V</ion-col>
            <ion-col class="equi-calendar-space equi-calendar-days">S</ion-col>
            <ion-col class="equi-calendar-space equi-calendar-days">D</ion-col>
          </ion-row>
          <ion-row *ngFor="let week of month.weeks" class="equi-calendar-space">
            <ion-col *ngFor="let day of week.days" class="equi-calendar-space equi-calendar-days-month">

              <div class="equi-calendar-number"
                   [ngClass]="{'equi-calendar-today': day && day.alerts.length > 0}">
                <span style="display: block">{{day ? day.numberDay : ''}}</span>
              </div>

            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item style="visibility: hidden;">
    <ion-datetime displayFormat="YYYY" (ngModelChange)="selectYear($event)" [(ngModel)]="yearCalendar"
                  min="{{MIN_YEAR_CALENDAR}}"
                  max="{{MAX_YEAR_CALENDAR}}"></ion-datetime>
  </ion-item>
</div>

<ion-grid *ngIf="(options.step == CALENDAR_STEP_MONTH || options.step == CALENDAR_STEP_WEEK) && selectedYear">
  <ion-row>
    <ion-col col-2 (click)="lastMonth()" style="font-size: 40px;">
      <span><ion-icon name="ios-arrow-back"></ion-icon></span>
    </ion-col>
    <ion-col style="margin: auto;">
      <span class="equi-bold-text" (click)="showYear()">{{selectedMonth.nameMonth}} {{selectedMonth.year.id}}</span>
    </ion-col>
    <ion-col col-2 (click)="nextMonth()" style="font-size: 40px;">
      <span><ion-icon name="ios-arrow-forward"></ion-icon></span>
    </ion-col>
  </ion-row>

  <ion-row class="equi-row-days">
    <ion-col>L</ion-col>
    <ion-col>M</ion-col>
    <ion-col>M</ion-col>
    <ion-col>J</ion-col>
    <ion-col>V</ion-col>
    <ion-col>S</ion-col>
    <ion-col>D</ion-col>
  </ion-row>

  <div *ngFor="let week of selectedMonth.weeks">
    <div *ngIf="!selectedMonth.hideWeeks || (selectedMonth.hideWeeks && selectedWeek.id == week.id)">
      <!-- dias -->
      <ion-row class="border-bottom">
        <ion-col *ngFor="let day of week.days" class="equi-col-calendar">
          <div class="equi-container-day equi-normal-text"
               [ngClass]="{'equi-selected-day': day && day.id == selectedDate.id}"
               (click)="selectDate(week, day)"><!-- day -->
            <span style="display: block">{{day ? day.numberDay : ' '}}</span>
          </div>
          <div *ngIf="week.hasAlerts"><!-- circle notificacation -->
            <span *ngIf="day && day.alerts.length == 0" class="equi-circle-day"></span>
            <span *ngIf="day && day.alerts.length > 0" class="equi-circle-day equi-principal-color"></span>
          </div>
        </ion-col>
      </ion-row>
      <!-- alertas -->
      <ion-row *ngIf="selectedWeek.id == week.id && selectedDate.showAlerts && selectedDate.alerts.length > 0">
        <ion-col>
          <ion-list no-lines>
            <ion-item text-wrap *ngFor="let alert of selectedDate.alerts" (click)="view(alert)">
              <ion-row>
                <ion-col col-4 class="col-center">
                  <span clas="equi-normal-text">{{alert.Hora}}</span>
                </ion-col>
                <ion-col col-8 class="equi-title-note">
                  <span class="equi-bold-text">{{alert.Titulo}}</span>
                </ion-col>
                <ion-col offset-4 col-8 class="equi-title-note" *ngIf="alert.Ubicacion && alert.Ubicacion != null">
                  <ion-icon name="ios-pin" class="equi-principal-color"></ion-icon>
                  <span class="equi-normal-text">{{alert.Ubicacion}}</span>
                </ion-col>
              </ion-row>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-grid>

<div style="text-align: left; margin: 15px;" *ngIf="options.step == CALENDAR_STEP_ALERT && selectedAlert">
  <p class="equi-bold-text">{{selectedAlert.Titulo}}</p>
  <p class="equi-normal-text equi-detail-note">{{selectedAlert.Descripcion}}</p>
  <hr/>

  <p class="equi-normal-text">
    {{selectedAlert.Fecha}}
  </p>
  <p class="equi-normal-text">
    <span style="font-size: 40px;font-weight: bold;">{{selectedAlert.Hora}}</span> &nbsp;
    {{selectedAlert.Meridiano}}
  </p>
  <div *ngIf="selectedAlert.AlertaRecordatorio && selectedAlert.AlertaRecordatorio.length > 0">
            <span *ngFor="let recordatorio of selectedAlert.AlertaRecordatorio" class="equi-normal-text">
                <ion-icon name="notifications" class="equi-principal-color"></ion-icon>
                &nbsp;&nbsp;&nbsp;{{recordatorio.ValorTiempo}}&nbsp;{{recordatorio.UnidadTiempo.Descripcion}}&nbsp;{{ 'COMP001_LBL_ANT' | translate }}
            </span>
  </div>
  <hr/>

  <p *ngIf="selectedAlert.Ubicacion" class="equi-normal-text">
    <ion-icon name="ios-home" class="equi-principal-color"></ion-icon>
    &nbsp;&nbsp; {{selectedAlert.Ubicacion}}
  </p>
  <p class="equi-normal-text" *ngIf="options.isAlertGroup">
    <ion-icon name="list-box" class="equi-principal-color"></ion-icon>
    &nbsp;&nbsp; {{selectedAlert.AllCaballos ? labels['COMP001_LBL_TOD'] : selectedAlert.AlertaCaballo.length + ' ' +
    labels['COMP001_LBL_CAB']}}
  </p>
</div>
