<ion-header>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title class="equi-toolbar-title-content">
      <span class="equi-toolbar-title">{{grupo.Descripcion}}</span>
      <br/>
      <span class="equi-toolbar-subtitle">Caballos</span>
    </ion-title>

    <ion-buttons right>
      <button ion-button class="equi-toolbar-btn" (click)="save()">
        Aceptar
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <div class="equi-container-input-search">
          <ion-searchbar (ionInput)="filter($event)" [autocomplete]="true"
                         [placeholder]="'Filtrar caballos'"></ion-searchbar>
          <button ion-button icon-only color="light" class="equi-button-filter" (click)="openAvancedFilter()">
            <ion-icon name="ios-arrow-down"></ion-icon>
          </button>
        </div>
      </ion-col>
      <ion-col col-12>
        <button ion-button full (click)="selectAll()">Seleccionar todos</button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="loading" style="text-align: center;">
    <ion-spinner></ion-spinner>
  </div>


  <ion-list no-lines>
    <ion-item *ngFor="let cg of caballosGrupo" (click)="selectCaballo(cg)">
      <ion-avatar item-left>
        <img src="assets/img/caballo.jpg">
      </ion-avatar>

      <span [ngClass]="{'equi-edit': isFilter, 'equi-principal-color': cg.seleccion && !isFilter}"
            class="equi-title-form"
            [innerHTML]="cg.caballo.NombreFilter"></span><br/>
      <span *ngIf="cg.caballo.Establo"
            [ngClass]="{'equi-edit': isFilter, 'equi-principal-color': cg.seleccion && !isFilter}"
            class="equi-subtitle-form"
            [innerHTML]="cg.caballo.EstabloFilter"></span>

      <ion-icon name="{{cg.seleccion ? 'remove-circle' : 'add-circle'}}"
                [ngClass]="{'equi-icon-selected': cg.seleccion, 'equi-icon-unselected': !cg.seleccion}"
                item-right></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
