<ion-header>
  <ion-toolbar>

    <ion-buttons left>
      <!-- Se visualiza en "FICHA" y "CABALLOS" -->
      <button ion-button icon-only *ngIf="!parametrosCaballos.modoEdicion" (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>

      <!-- Se visualiza en la ficha "CABALLOS" cuando esta activa la edicion -->
      <button ion-button class="equi-toolbar-btn"
              *ngIf="segmentSelection == 'caballos' && parametrosCaballos.modoEdicion"
              (click)="disabledDeleteCaballos()">
        {{ 'PANT013_BTN_CAN' | translate }}
      </button>
    </ion-buttons>

    <ion-title class="equi-toolbar-title-content">
      <span class="equi-toolbar-title">{{grupo.Descripcion}}</span>
    </ion-title>

    <ion-buttons right>
      <!-- Se visualiza cuando está la pestana "FICHA" -->
      <button ion-button icon-only *ngIf="segmentSelection == 'ficha'" (click)="showOptionsFicha($event)">
        <ion-icon name="more"></ion-icon>
      </button>

      <!-- Se visualizan cuando está la pestana "CABALLOS" -->
      <button ion-button class="equi-toolbar-btn"
              *ngIf="segmentSelection == 'caballos' && !parametrosCaballos.modoEdicion && !parametrosCaballos.grupoDefault"
              (click)="enabledDeleteCaballos()">
        {{ 'PANT013_BTN_EDI' | translate }}
      </button>
      <button ion-button icon-only *ngIf="segmentSelection == 'caballos' && parametrosCaballos.modoEdicion"
              [disabled]="parametrosCaballos.getCountSelected() == 0"
              (click)="delete()">
        <div>
          <ion-icon class="equi-principal-color" name="ios-trash"></ion-icon>
          <div class="equi-principal-color" style="font-size: 9px;">{{ 'PANT013_BTN_ELIM' | translate }}</div>
        </div>
      </button>
    </ion-buttons>
  </ion-toolbar>

  <ion-segment [(ngModel)]="segmentSelection" color="primary" (ngModelChange)="showSlide($event)">
    <ion-segment-button value="ficha">
      {{ 'PANT013_LBL_FIC' | translate }}
    </ion-segment-button>
    <ion-segment-button value="caballos">
      {{ 'PANT013_LBL_CABA' | translate }}
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <ion-slides (ionSlideDidChange)="slideChanged($event)">
    <ion-slide class="equi-content-slide-start">
      <segment-ficha-grupo [grupo]="grupo"></segment-ficha-grupo>
    </ion-slide>
    <ion-slide class="equi-content-slide-start">
      <segment-caballos-grupo [grupo]="grupo" [parametros]="parametrosCaballos"></segment-caballos-grupo>
    </ion-slide>
  </ion-slides>
</ion-content>
