<div *ngIf="!photoLoading && !photoBase64" style="background-image: url('assets/img/ficha-perfil.PNG'); background-size: cover; background-repeat: no-repeat; height: 200px; width: 100%;">
</div>

<div *ngIf="!photoLoading && photoBase64" [ngStyle]="{ 'background-image': 'url(' + photoBase64 + ')'}" style="background-size: cover; background-repeat: no-repeat; height: 200px; width: 100%;">
</div>


<ion-list no-lines padding>
  <ion-item *ngIf="propietarioEntity.Usuario">
    <ion-icon name="ios-finger-print" class="equi-principal-color" item-left></ion-icon>
    <span class="equi-bold-text">{{propietarioEntity.Usuario.Login}}</span>
  </ion-item>

  <ion-item *ngIf="propietarioEntity.Nombre">
    <ion-icon name="person" class="equi-principal-color" item-left></ion-icon>
    <span class="equi-normal-text">{{propietarioEntity.Nombre}}</span>
  </ion-item>

  <ion-item>
    <ion-icon name="mail" class="equi-principal-color" item-left></ion-icon>
    <span class="equi-normal-text">{{propietarioEntity.Mail}}</span>
  </ion-item>

  <ion-item *ngFor="let telefono of propietarioEntity.PropietarioTelefono; let i = index">
    <ion-icon [ngClass]="{'icon-hidden': i > 0}" name="call" class="equi-principal-color" item-left></ion-icon>
    <span class="equi-normal-text" (click)="openOptionsTelephone($event, telefono.Numero)">{{telefono.Numero}}</span>
    <ion-note class="equi-principal-color equi-italic-text" item-right>
      {{telefono.Tipo_Numero.Descripcion}}
    </ion-note>
  </ion-item>

  <ion-item *ngIf="propietarioEntity.EstadoProvincia_Nombre">
    <ion-icon name="flag" class="equi-principal-color" item-left></ion-icon>
    <span class="equi-normal-text">
            {{propietarioEntity.EstadoProvincia_Nombre}}, {{propietarioEntity.PaisNombre}}
        </span>
  </ion-item>
</ion-list>
