<ion-header>
  <ion-toolbar class="equi-toolbar">
    <ion-buttons left>
      <button class="equi-toolbar-btn" (click)="cancel()">{{ "PANT010_BTN_CAN" | translate }}</button>
    </ion-buttons>

    <ion-buttons right>
      <button class="equi-toolbar-btn" [disabled]="!eventoForm.valid" (click)="save()">{{ "PANT010_BTN_GUA" | translate }}</button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #eventoForm="ngForm">

    <ion-grid *ngIf="alerta">
      <ion-row class="border-bottom" class="border-bottom" style="height: 60px">
        <ion-col class="equi-col-input-alert">
          <input name="Titulo" class="equi-input-text equi-input-title-note" type="text" placeholder="{{ 'PANT010_TXT_EVTIT' | translate }}"
                     required="true" [(ngModel)]="alerta.Titulo">
        </ion-col>
      </ion-row>

      <ion-row class="border-bottom">
        <ion-col>
          <textarea name="Descripcion" class="equi-input-text equi-input-normal-text" autoresize rows="3" placeholder="{{ 'PANT010_TXT_EVNOT' | translate }}"
                        [(ngModel)]="alerta.Descripcion"></textarea>
        </ion-col>
      </ion-row>

      <ion-row class="border-bottom">
        <ion-col col-2 class="col-center">
          <ion-icon name="calendar" class="equi-icon-input"></ion-icon>
        </ion-col>
        <ion-col col-5>
          <ion-datetime name="FechaNotificacion"
                        class="equi-input-normal-text"
                        placeholder="{{ 'PANT010_TXT_FEINI' | translate }}"
                        displayFormat="DD/MM/YYYY"
                        pickerFormat="D MMMM YYYY"
                        cancelText="{{ 'PANT010_BTN_CAN' | translate }}"
                        doneText="{{ 'PANT010_BTN_ACE' | translate }}"
                        max="2050"
                        [(ngModel)]="alerta.FechaNotificacion"
                        required="true"></ion-datetime>
        </ion-col>
        <ion-col col-5>
          <ion-datetime name="FechaFin"
                        class="equi-input-normal-text"
                        placeholder="{{ 'PANT010_TXT_FEFIN' | translate }}"
                        displayFormat="DD/MM/YYYY"
                        pickerFormat="D MMMM YYYY"
                        cancelText="{{ 'PANT010_BTN_CAN' | translate }}"
                        doneText="{{ 'PANT010_BTN_ACE' | translate }}"
                        max="2050"
                        [(ngModel)]="alerta.FechaFinal"
                        required="true"></ion-datetime>
        </ion-col>
      </ion-row>

      <ion-row class="border-bottom">
        <ion-col col-2 class="col-center">
          <ion-icon name="time" class="equi-icon-input"></ion-icon>
        </ion-col>
        <ion-col col-5>
          <ion-datetime name="HoraNotificacion" class="equi-input-normal-text"
                        placeholder="{{ 'PANT010_TXT_HRINI' | translate }}" displayFormat="h:mm A"
                        pickerFormat="h mm A"
                        cancelText="{{ 'PANT010_BTN_CAN' | translate }}"
                        doneText="{{ 'PANT010_BTN_ACE' | translate }}"
                        [(ngModel)]="alerta.HoraNotificacion"
                        required="true"></ion-datetime>
        </ion-col>
        <ion-col col-5>
          <ion-datetime name="HoraFin"
                        class="equi-input-normal-text"
                        placeholder="{{ 'PANT010_TXT_HRFIN' | translate }}"
                        displayFormat="h:mm A"
                        pickerFormat="h mm A"
                        cancelText="{{ 'PANT010_BTN_CAN' | translate }}"
                        doneText="{{ 'PANT010_BTN_ACE' | translate }}"
                        [(ngModel)]="alerta.HoraFinal"
                        required="true"></ion-datetime>
        </ion-col>
      </ion-row>

      <ion-row class="border-bottom">
        <ion-col col-2 class="col-center">
          <ion-icon name="notifications" class="equi-icon-input"></ion-icon>
        </ion-col>
        <ion-col col-8 class="equi-col-center equi-input-normal-text">
          <span *ngIf="alerta.AlertaRecordatorio.length > 0">&nbsp;&nbsp;&nbsp;&nbsp;{{alerta.AlertaRecordatorio[0].Descripcion}}&nbsp;{{ 'PANT010_LBL_ANTS' | translate }}</span>
          <span *ngIf="alerta.AlertaRecordatorio.length == 0" class="equi-text-edit">&nbsp;&nbsp;&nbsp;&nbsp;{{ 'PANT010_TXT_REC' | translate }}</span>
        </ion-col>
        <ion-col col-2 class="col-center">
          <ion-icon *ngIf="alerta.AlertaRecordatorio.length > 0" name="remove-circle" (click)="removeRecordatorio()"
                    class="equi-icon-input equi-icon-delete"></ion-icon>
          <ion-icon *ngIf="alerta.AlertaRecordatorio.length == 0" name="add-circle" (click)="viewRecordatorios()"
                    class="equi-icon-input"></ion-icon>
        </ion-col>
      </ion-row>

      <ion-row class="border-bottom">
        <ion-col col-2 class="col-center">
          <ion-icon name="ios-pin" class="equi-icon-input"></ion-icon>
        </ion-col>
        <ion-col class="equi-col-input-alert">
          <input name="Ubicacion"
                     class="equi-input-text equi-input-normal-text" type="text"
                     placeholder="{{ 'PANT010_TXT_UBIC' | translate }}"
                     [(ngModel)]="alerta.Ubicacion">
        </ion-col>
      </ion-row>

      <ion-row class="border-bottom">
        <ion-col>
          <textarea name="Resultado" class="equi-input-text equi-input-normal-text" autoresize rows="3"
                        placeholder="{{ 'PANT010_TXT_RESU' | translate }}"
                        [(ngModel)]="alerta.Resultado"></textarea>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
