<ion-header>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button icon-only tappable (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title class="equi-toolbar-title-content">
      <span class="equi-toolbar-title">{{ 'PANT017_LBL_TICSU' | translate }}</span>
      <br/>
      <span class="equi-toolbar-subtitle">{{ 'PANT017_LBL_SUBTCSU' | translate }}</span>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="equi-container-input-search">
    <ion-searchbar (ionInput)="filter($event)" [autocomplete]="true"
                   [placeholder]="labels['PANT017_TXT_FILCA']"></ion-searchbar>
    <button ion-button icon-only color="light" class="equi-button-filter" tappable (click)="openAvancedFilter()">
      <ion-icon name="ios-arrow-down"></ion-icon>
    </button>
  </div>


  <div *ngIf="loading" style="text-align: center;">
    <ion-spinner></ion-spinner>
  </div>

  <ion-list no-lines>
    <ion-item *ngFor="let caballo of caballos" tappable (click)="view(caballo)">
      <ion-avatar item-left>
        <img src="assets/img/caballo.jpg">
      </ion-avatar>
      <h2 class="equi-title-form">{{caballo.Nombre}}</h2>
    </ion-item>
  </ion-list>
</ion-content>
