<ion-header>
    <ion-navbar>
        <ion-buttons start>
            <button ion-button class="equi-toolbar-btn" (click)="close()">
                Cerrar
            </button>
        </ion-buttons>
 
        <ion-title>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col col-12>
                <ion-searchbar (ionInput)="filter($event)" [autocomplete]="true" [placeholder]="'Filtrar caballos'"></ion-searchbar>
            </ion-col>
            <ion-col col-12>
                <button (click)="selectAll()" ion-button full>Seleccionar todos</button>
            </ion-col>
        </ion-row>
    </ion-grid>

    <div *ngIf="showSpinner" style="text-align: center;">
        <ion-spinner></ion-spinner>
    </div>

    <ion-list no-lines>
        <ion-item *ngFor="let c of caballos" (click)="c.seleccion = !c.seleccion">
            <ion-avatar item-left>
                <img src="assets/img/caballo.jpg">
            </ion-avatar>

            <h2 class="equi-title-form" [ngClass]="{'equi-principal-color': c.seleccion}">{{c.caballo.Nombre}}</h2>

            <ion-icon *ngIf="c.seleccion" class="equi-icon-input" name="remove-circle" item-right></ion-icon>
            <ion-icon *ngIf="!c.seleccion" class="equi-icon-unselected" name="add-circle" item-right></ion-icon>
        </ion-item>
    </ion-list>

</ion-content>