<ion-header>
    <ion-toolbar class="equi-toolbar">
        <ion-buttons left>
            <button ion-button icon-only (click)="goBack()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title class="equi-toolbar-title-content">
            <span class="equi-toolbar-title">{{nombreCaballo}}</span>
            <br />
            <span class="equi-toolbar-subtitle">Datos</span>
        </ion-title>
        <ion-buttons right>
            <button class="equi-toolbar-btn" (click)="edit()">
                Editar
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <form [formGroup]="form">
        <ion-grid>
            <ion-row>
                <ion-col col-3 class="equi-title-form equi-col-center">Nombre</ion-col>
                <ion-col>
                    <ion-input class="equi-input-normal-text" type="text" [disabled]="true" placeholder="Asignar nombre" formControlName="Nombre"></ion-input>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-3 class="equi-title-form equi-col-center">Propietario</ion-col>
                <ion-col>
                    <ion-input class="equi-input-normal-text" type="text" [disabled]="true" placeholder="Asignar propietario" formControlName="NombrePropietario"></ion-input>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-3 class="equi-title-form equi-col-center">Género</ion-col>
                <ion-col col-5>
                    <ion-select class="equi-input-normal-text equi-select-width" [disabled]="true" placeholder="Asignar" formControlName="Genero_ID">
                        <ion-option *ngFor="let item of generoList" [value]="item.Key">{{item.Value}}</ion-option>
                    </ion-select>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-3 class="equi-title-form equi-col-center">Pelaje</ion-col>
                <ion-col col-5>
                    <ion-select class="equi-input-normal-text equi-select-width" [disabled]="true" placeholder="Asignar" formControlName="Pelaje_ID">
                        <ion-option *ngFor="let item of pelajeList" [value]="item.Key">{{item.Value}}</ion-option>
                    </ion-select>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-3 class="equi-title-form equi-col-center">Nacimiento</ion-col>
                <ion-col col-5>
                    <ion-datetime class="equi-input-normal-text" [disabled]="true" displayFormat="DD/MM/YYYY HH" pickerFormat="D MMMM YYYY HH"
                        cancelText="Cancelar" doneText="Aceptar" formControlName="FechaNacimiento" max="2050" (ngModelChange)="calculateAge($event)"></ion-datetime>
                </ion-col>
                <ion-col col-4 class="equi-col-center">
                    <span class="equi-input-normal-text equi-text-edit">{{age}}</span>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-3 class="equi-title-form equi-col-center">Genealog&iacute;a</ion-col>
                <ion-col col-2 class="equi-col-center"><span class="equi-input-normal-text">Padre</span></ion-col>
                <ion-col class="equi-col-center">
                    <ion-input class="equi-input-normal-text" type="text" [disabled]="true" placeholder="Nombre del padre" formControlName="NombrePadre"></ion-input>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-3></ion-col>
                <ion-col col-2 class="equi-col-center"><span class="equi-input-normal-text">Madre</span></ion-col>
                <ion-col class="equi-col-center">
                    <ion-input class="equi-input-normal-text" type="text" [disabled]="true" placeholder="Nombre de la madre" formControlName="NombreMadre"></ion-input>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-3 class="equi-title-form equi-col-center">Criador</ion-col>
                <ion-col col-5>
                    <ion-input class="equi-input-normal-text" type="text" [disabled]="true" placeholder="Nombre criador" formControlName="NombreCriador"></ion-input>
                </ion-col>
                <ion-col col-4>
                    <ion-select class="equi-input-normal-text equi-select-width" [disabled]="true" placeholder="País" formControlName="PaisCriador">
                        <ion-option *ngFor="let pais of paises" [value]="pais.ID">{{pais.Descripcion}}</ion-option>
                    </ion-select>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-3 class="equi-title-form equi-col-center">ADN</ion-col>
                <ion-col class="equi-col-center">
                    <ion-toggle checked="false" [disabled]="true" formControlName="ADN"></ion-toggle>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-3 class="equi-title-form equi-col-center"># Chip</ion-col>
                <ion-col>
                    <ion-input class="equi-input-normal-text" type="text" [disabled]="true" placeholder="Asignar" formControlName="NumeroChip"></ion-input>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-3 class="equi-title-form equi-col-center"># ID</ion-col>
                <ion-col>
                    <ion-input class="equi-input-normal-text" type="text" [disabled]="true" placeholder="Asignar" formControlName="NumeroId"></ion-input>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-3 class="equi-title-form equi-col-center">Otras marcas</ion-col>
                <ion-col>
                    <ion-input class="equi-input-normal-text" type="text" [disabled]="true" placeholder="Asignar" formControlName="Marcas"></ion-input>
                </ion-col>
            </ion-row>

            <ion-row>
                <hr>
            </ion-row>
            <ion-row>
                <ion-col class="equi-title-form center-text">Registro Federación Nacional</ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-3 class="equi-title-form equi-col-center"># Registro</ion-col>
                <ion-col col-4>
                    <ion-input class="equi-input-normal-text" type="text" [disabled]="true" placeholder="Asignar" formControlName="NumeroFEN"></ion-input>
                </ion-col>
                <ion-col col-3 class="equi-title-form equi-col-center">Pagado</ion-col>
                <ion-col col-2 class="equi-col-center">
                    <ion-toggle checked="false" [disabled]="true" formControlName="EstadoFEN"></ion-toggle>
                </ion-col>
            </ion-row>

            <ion-row>
                <hr>
            </ion-row>
            <ion-row>
                <ion-col class="equi-title-form center-text">Registro Federación Internacional (FEI)</ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-3 class="equi-title-form equi-col-center"># Registro</ion-col>
                <ion-col col-4>
                    <ion-input class="equi-input-normal-text" type="text" [disabled]="true" placeholder="Asignar" formControlName="NumeroFEI"></ion-input>
                </ion-col>
                <ion-col col-3 class="equi-title-form equi-col-center">Pagado</ion-col>
                <ion-col col-2 class="equi-col-center">
                    <ion-toggle checked="false" [disabled]="true" formControlName="EstadoFEI"></ion-toggle>
                </ion-col>
            </ion-row>

            <ion-row>
                <hr>
            </ion-row>
            <ion-row>
                <ion-col class="equi-title-form center-text">Deporte y cuidados</ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-3 class="equi-title-form equi-col-center">Protectores</ion-col>
                <ion-col col-5>
                    <ion-select class="equi-input-normal-text equi-select-width" [disabled]="true" placeholder="Asignar" formControlName="Protector_ID">
                        <ion-option *ngFor="let protector of protectores" [value]="protector.ID">{{protector.Descripcion}}</ion-option>
                    </ion-select>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col class="equi-title-form">Observaciones</ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <p *ngIf="caballoEntity.Observaciones" class="equi-input-normal-text equi-text-edit">
                        {{caballoEntity.Observaciones}}
                    </p>
                    <ion-textarea *ngIf="!caballoEntity.Observaciones" class="equi-input-normal-text" rows="2" [disabled]="true" placeholder="Ingresar observaciones"></ion-textarea>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-3 class="equi-title-form equi-col-center">Embocadura</ion-col>
                <ion-col>
                    <ion-input class="equi-input-normal-text" type="text" [disabled]="true" placeholder="Ingresar embocadura" formControlName="Embocadura"></ion-input>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-3 class="equi-title-form equi-col-center">Extras de cabezada</ion-col>
                <ion-col>
                    <ion-input class="equi-input-normal-text" type="text" [disabled]="true" placeholder="Ingresar extras de cabeza" formControlName="ExtrasDeCabezada"></ion-input>
                </ion-col>
            </ion-row>

            <ion-row>
                <hr>
            </ion-row>
            <ion-row>
                <ion-col class="equi-title-form center-text">Datos de la persona a cargo</ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-3 class="equi-title-form equi-col-center">Nombre</ion-col>
                <ion-col>
                    <ion-input class="equi-input-normal-text" type="text" [disabled]="true" placeholder="Asignar nombre" formControlName="NombreResponsable"></ion-input>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-3 class="equi-title-form equi-col-center">Teléfono</ion-col>
                <ion-col>
                    <ion-input class="equi-input-normal-text" type="text" [disabled]="true" placeholder="Asignar número telefónico" formControlName="TelefonoResponsable"></ion-input>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-3 class="equi-title-form equi-col-center">Correo electronico</ion-col>
                <ion-col>
                    <ion-input class="equi-input-normal-text" type="text" [disabled]="true" placeholder="Asignar correo electrónico" formControlName="CorreoResponsable"></ion-input>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>