<ion-header>
    <ion-toolbar>
        <ion-buttons left>
            <button ion-button icon-only (click)="goBack()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>

        <ion-title>Datos del caballo</ion-title>
        <ion-buttons right>
            <button ion-button icon-only (click)="edit()">
                <ion-icon name="create"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <form [formGroup]="form">
        <ion-grid>
            <ion-row>
                <ion-col col-4 class="title-form">Nombre</ion-col>
                <ion-col>
                    <ion-item>
                        {{caballoEntity.Nombre}}
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-4 class="title-form">Género</ion-col>
                <ion-col>
                    <ion-select [disabled]="true" formControlName="Genero_ID">
                        <ion-option *ngFor="let item of generoList" [value]="item.Key">{{item.Value}}</ion-option>
                    </ion-select>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-4 class="title-form">Pelaje</ion-col>
                <ion-col>
                    <ion-select [disabled]="true" formControlName="Pelaje_ID">
                        <ion-option *ngFor="let item of pelajeList" [value]="item.Key">{{item.Value}}</ion-option>
                    </ion-select>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-4 class="title-form">Fecha de Nacimiento</ion-col>
                <ion-col>
                    <ion-item>
                        {{caballoEntity.FechaNacimiento}}
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-4 class="title-form">Genealog&iacute;a</ion-col>
                <ion-col col-2>Padre</ion-col>
                <ion-col>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-4></ion-col>
                <ion-col col-2>Madre</ion-col>
                <ion-col>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-4 class="title-form">Criador</ion-col>
                <ion-col>
                    <ion-select [disabled]="true" formControlName="Criador_ID">
                        <ion-option *ngFor="let item of criadorList" [value]="item.Key">{{item.Value}}</ion-option>
                    </ion-select>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-4 class="title-form">ADN</ion-col>
                <ion-col>
                    <ion-toggle [disabled]="true" checked="false" formControlName="ADN"></ion-toggle>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-4 class="title-form"># Chip</ion-col>
                <ion-col>
                    <ion-item>
                        {{caballoEntity.NumeroChip}}
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-4 class="title-form"># ID</ion-col>
                <ion-col>
                    <ion-item>
                        {{caballoEntity.Nombre}}
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-4 class="title-form">Otras marcas</ion-col>
                <ion-col>
                    <ion-select [disabled]="true" formControlName="OtrasMarcas_ID">
                        <ion-option *ngFor="let item of otrasMarcasList" [value]="item.Key">{{item.Value}}</ion-option>
                    </ion-select>
                </ion-col>
            </ion-row>
            <ion-row>
                <hr>
            </ion-row>
            <ion-row>
                <ion-col class="title-form center-text">Registro Federación Nacional</ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-4 class="title-form"># Registro</ion-col>
                <ion-col>
                    <ion-item>
                        {{caballoEntity.NumeroFEN}}
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-4 class="title-form">Pagado</ion-col>
                <ion-col>
                    <ion-toggle [disabled]="true" checked="false" formControlName="EstadoFEN"></ion-toggle>
                </ion-col>
            </ion-row>
            <ion-row>
                <hr>
            </ion-row>
            <ion-row>
                <ion-col class="title-form center-text">Registro Federación Internacional (FEI)</ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-4 class="title-form"># Registro</ion-col>
                <ion-col>
                    <ion-item>
                        {{caballoEntity.NumeroFEI}}
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-4 class="title-form">Pagado</ion-col>
                <ion-col>
                    <ion-toggle [disabled]="true" checked="false" formControlName="EstadoFEI"></ion-toggle>
                </ion-col>
            </ion-row>
            <ion-row>
                <hr>
            </ion-row>
            <ion-row>
                <ion-col class="title-form center-text">Deporte y cuidados</ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-4 class="title-form">Protectores</ion-col>
                <ion-col>
                    <ion-item>
                        {{caballoEntity.Protector}}
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="title-form">Observaciones</ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item>
                        {{caballoEntity.Observaciones}}
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-4 class="title-form">Embocadura</ion-col>
                <ion-col>
                    <ion-item>
                        {{caballoEntity.Embocadura}}
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-4 class="title-form">Extras de cabezada</ion-col>
                <ion-col>
                    <ion-item>
                        {{caballoEntity.ExtrasDeCabezada}}
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <hr>
            </ion-row>
            <ion-row>
                <ion-col class="title-form center-text">Datos de la persona a cargo</ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-4 class="title-form">Nombre</ion-col>
                <ion-col>
                    <ion-item>
                        <ion-input [disabled]="true" type="text"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-4 class=" title-form ">Teléfono</ion-col>
                <ion-col>
                    <ion-item>
                        <ion-input [disabled]="true " type="text"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-4 class="title-form">Correo electronico</ion-col>
                <ion-col>
                    <ion-item>
                        <ion-input [disabled]="true" type="text"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>