<ion-header>
    <ion-toolbar class="equi-toolbar">
        <ion-buttons left>
            <button ion-button icon-only (click)="goBack()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title class="equi-toolbar-title-content">
            <span class="equi-toolbar-title">{{nombreCaballo}}</span>
            <br />
            <span class="equi-toolbar-subtitle">Dentista</span>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col class="equi-title-form">
                PRÓXIMA CITA CON DENTISTA
            </ion-col>
        </ion-row>
        <ion-row>
            <hr>
        </ion-row>
    </ion-grid>

    <ion-list no-lines>
        <equi-next-alert-horse *ngFor="let notificacion of nextNotificacionList" [alert]="notificacion" (actionClickItem)="view(notificacion)"
            [labelDelete]="'Eliminar'" (actionDeleteItem)="delete(notificacion)"></equi-next-alert-horse>
    </ion-list>

    <ion-grid>
        <ion-row>
            <ion-col class="equi-title-form">
                HISTORIAL
            </ion-col>
        </ion-row>
        <ion-row>
            <hr>
        </ion-row>

        <equi-button-add [label]="'Agregar nuevo'" (action)="insert()"></equi-button-add>
    </ion-grid>

    <ion-list no-lines>
        <equi-history-alert-horse *ngFor="let notificacion of historyNotificacionList" [alert]="notificacion" [labelDelete]="'Eliminar'"
            [professionPerson]="'Dentista'" (actionDeleteItem)="delete(notificacion)" (actionEditItem)="edit(notificacion)"></equi-history-alert-horse>
    </ion-list>
</ion-content>