<ion-header>
  <ion-toolbar>
    <ion-buttons left>
      <!-- Se visualizada en seleccion de  "ESTABLOS" -->
      <button ion-button class="equi-toolbar-btn" *ngIf="currentSlide == 'establos' && parametrosEstablos.modoEdicion"
              (click)="disabledDeleteCaballos()">
        {{ 'PANT026_BTN_CAN' | translate }}
      </button>
    </ion-buttons>

    <ion-title class="equi-toolbar-title-content">
      <span class="equi-toolbar-title">{{ 'PANT026_LBL_TIPE' | translate }}</span>
    </ion-title>

    <ion-buttons right>
      <!-- Se visualizada en seleccion de  "DATOS" -->
      <button ion-button icon-only *ngIf="currentSlide == 'datos'" (click)="presentPopover($event) ">
        <ion-icon name="more"></ion-icon>
      </button>

      <!-- Se visualizadan en seleccion de  "ESTABLOS"... -->
      <button ion-button class="equi-toolbar-btn" *ngIf="currentSlide == 'establos' && !parametrosEstablos.modoEdicion"
              (click)="enabledDeleteEstablos()">
        {{ 'PANT026_BTN_EDI' | translate }}
      </button>
      <button ion-button class="equi-toolbar-btn" *ngIf="currentSlide == 'establos' && parametrosEstablos.modoEdicion"
              [disabled]="parametrosEstablos.getCountSelected() == 0"
              (click)="deleteEstablos()">
        {{ 'PANT026_BTN_ELI' | translate }}
      </button>
    </ion-buttons>
  </ion-toolbar>

  <ion-segment [(ngModel)]="currentSlide" (ngModelChange)="showSlide($event)" color="primary">
    <ion-segment-button value="datos">
      {{ 'PANT026_LBL_DAT' | translate }}
    </ion-segment-button>
    <ion-segment-button value="establos">
      {{ 'PANT026_LBL_EST' | translate }}
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content class="equi-content-no-scroll">
  <ion-slides (ionSlideDidChange)="slideChanged($event)">
    <ion-slide class="equi-content-slide-start">
      <div class="perfil equi-content-slide-scroll">
        <segment-datos></segment-datos>
      </div>
    </ion-slide>
    <ion-slide class="equi-content-slide-start">
      <div class="perfil equi-content-slide-scroll">
        <segment-establos [parametros]="parametrosEstablos"></segment-establos>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
