<ion-header>
    <ion-toolbar>
        <ion-buttons left>
            <!-- Se visualizada en seleccion de  "ESTABLOS" -->
            <button ion-button class="equi-toolbar-btn" *ngIf="selectedTab == 'establos' && parametrosEstablos.modoEdicion" (click)="disabledDeleteCaballos()">
                Cancelar
            </button>
        </ion-buttons>

        <ion-title class="equi-toolbar-title-content">
            <span class="equi-toolbar-title">Mi perfil</span>
        </ion-title>

        <ion-buttons right>
            <!-- Se visualizada en seleccion de  "DATOS" -->
            <button ion-button icon-only *ngIf="selectedTab == 'datos'" (click)="presentPopover($event) ">
                <ion-icon name="more"></ion-icon>
            </button>

            <!-- Se visualizadan en seleccion de  "ESTABLOS"... -->
            <button ion-button class="equi-toolbar-btn" *ngIf="selectedTab == 'establos' && !parametrosEstablos.modoEdicion" (click)="enabledDeleteEstablos()">
                Editar            
            </button>
            <button ion-button class="equi-toolbar-btn" *ngIf="selectedTab == 'establos' && parametrosEstablos.modoEdicion" [disabled]="parametrosEstablos.getCountSelected() == 0"
                (click)="deleteEstablos()">
                Eliminar
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-toolbar>
        <ion-segment [(ngModel)]="selectedTab" color="primary">
            <ion-segment-button value="datos">
                DATOS
            </ion-segment-button>
            <ion-segment-button value="establos">
                ESTABLO(S)
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>

    <div *ngIf="selectedTab == 'datos'">
        <segment-datos></segment-datos>
    </div>
    <div *ngIf="selectedTab == 'establos'">
        <segment-establos [parametros]="parametrosEstablos"></segment-establos>
    </div>
    
</ion-content>