<div *ngIf="!photoLoading && !photoBase64" style="background-image: url('assets/img/ficha-grupo.PNG'); background-size: cover; background-repeat: no-repeat; height: 200px; width: 100%;">
</div>

<div *ngIf="!photoLoading && photoBase64" [ngStyle]="{ 'background-image': 'url(' + photoBase64 + ')'}" style="background-size: cover; background-repeat: no-repeat; height: 200px; width: 100%;">
</div>


<ion-grid style="margin: 0px; padding:0px;">
  <ion-row>
    <ion-col col-4
             class="equi-button-ficha"
             (click)="open(0)">
      <div class="equi-button-ficha-icon equi-button-ficha-ubicacion"></div>
      <span class="equi-input-normal-text" style="position: inherit; top: -20px;">
        {{ "PANT013_BTN_UBI" | translate }}
      </span>
    </ion-col>

    <ion-col col-4
             class="equi-button-ficha equi-button-ficha-border-left equi-button-ficha-border-right"
             (click)="open(1)">
      <div class="equi-button-ficha-icon equi-button-ficha-dentista"></div>
      <span class="equi-input-normal-text" style="position: inherit; top: -20px;">
        {{ "PANT013_BTN_DEN" | translate }}
      </span>
    </ion-col>

    <ion-col col-4
             class="equi-button-ficha" (click)="open(2)">
      <div class="equi-button-ficha-icon equi-button-ficha-veterinario"></div>
      <span class="equi-input-normal-text" style="position: inherit; top: -20px;">
        {{ "PANT013_BTN_VET" | translate }}
      </span>
    </ion-col>

    <ion-col col-4
             class="equi-button-ficha equi-button-ficha-border-top"
             (click)="open(3)">
      <div class="equi-button-ficha-icon equi-button-ficha-herraje"></div>
      <span class="equi-input-normal-text" style="position: inherit; top: -20px;">
        {{ "PANT013_BTN_HERR" | translate }}
      </span>
    </ion-col>

    <ion-col col-4
             class="equi-button-ficha equi-button-ficha-border-top equi-button-ficha-border-left equi-button-ficha-border-right" (click)="open(4)">
      <div class="equi-button-ficha-icon equi-button-ficha-desparasitacion"></div>
      <span class="equi-input-normal-text" style="position: inherit; top: -20px;">
        {{ "PANT013_BTN_DESP" | translate }}
      </span>
    </ion-col>

    <ion-col col-4
             class="equi-button-ficha equi-button-ficha-border-top" (click)="open(5)">
      <div class="equi-button-ficha-icon equi-button-ficha-notas"></div>
      <span class="equi-input-normal-text" style="position: inherit; top: -20px;">
        {{ "PANT013_BTN_NOTS" | translate }}
      </span>
    </ion-col>
  </ion-row>
</ion-grid>

<!--
<ion-grid>
    <ion-row>
        <ion-col>
            <img src="assets/img/ficha-grupo.PNG" />
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-4 *ngFor="let option of options">
            <button ion-button block (click)="selectOption(option)">
                <div>
                    <ion-icon name="{{option.icon}}"></ion-icon>
                    <br />
                    <label>{{option.label}}</label>
                </div>
            </button>
        </ion-col>
    </ion-row>
</ion-grid>
-->
