<div *ngIf="photoLoading" class="equi-photo-loading">
  <div>
    <ion-spinner></ion-spinner>
  </div>
</div>
<div *ngIf="!photoLoading">
  <div *ngIf="!photoBase64"
       class="equi-photo-segmemt"
       style="background-image: url('assets/img/ficha-grupo.PNG');">
  </div>

  <div *ngIf="photoBase64" [ngStyle]="{ 'background-image': 'url(' + photoBase64 + ')'}"
       class="equi-photo-segmemt">
  </div>
</div>

<ion-grid style="margin: 0px; padding:0px;">
  <ion-row>
    <ion-col col-4
             class="equi-button-ficha"
             tappable (click)="open(0)">
      <div class="equi-button-ficha-icon equi-button-ficha-ubicacion"></div>
      <span class="equi-input-normal-text" style="position: inherit; top: -20px;">
        {{ "PANT013_BTN_UBI" | translate }}
      </span>
    </ion-col>

    <ion-col col-4
             class="equi-button-ficha equi-button-ficha-border-left equi-button-ficha-border-right"
             tappable (click)="open(1)">
      <div class="equi-button-ficha-icon equi-button-ficha-dentista"></div>
      <span class="equi-input-normal-text" style="position: inherit; top: -20px;">
        {{ "PANT013_BTN_DEN" | translate }}
      </span>
    </ion-col>

    <ion-col col-4
             class="equi-button-ficha" tappable (click)="open(2)">
      <div class="equi-button-ficha-icon equi-button-ficha-veterinario"></div>
      <span class="equi-input-normal-text" style="position: inherit; top: -20px;">
        {{ "PANT013_BTN_VET" | translate }}
      </span>
    </ion-col>

    <ion-col col-4
             class="equi-button-ficha equi-button-ficha-border-top"
             tappable (click)="open(3)">
      <div class="equi-button-ficha-icon equi-button-ficha-herraje"></div>
      <span class="equi-input-normal-text" style="position: inherit; top: -20px;">
        {{ "PANT013_BTN_HERR" | translate }}
      </span>
    </ion-col>

    <ion-col col-4
             class="equi-button-ficha equi-button-ficha-border-top equi-button-ficha-border-left equi-button-ficha-border-right"
             tappable (click)="open(4)">
      <div class="equi-button-ficha-icon equi-button-ficha-desparasitacion"></div>
      <span class="equi-input-normal-text" style="position: inherit; top: -20px;">
        {{ "PANT013_BTN_DESP" | translate }}
      </span>
    </ion-col>

    <ion-col col-4
             class="equi-button-ficha equi-button-ficha-border-top" tappable (click)="open(5)">
      <div class="equi-button-ficha-icon equi-button-ficha-notas"></div>
      <span class="equi-input-normal-text" style="position: inherit; top: -20px;">
        {{ "PANT013_BTN_NOTS" | translate }}
      </span>
    </ion-col>
  </ion-row>
</ion-grid>
