<ion-header>
    <ion-navbar>
        <ion-title>
            {{caballo.Nombre}}
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="openMenu($event)">
                <ion-icon name="more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <img src="assetsss/img/caballo2.jpg" />
    <!-- <p style="color: red;">Falta ajustar tamaño foto</p> -->
    <ion-toolbar>
        <ion-segment [(ngModel)]="menu" color="primary">
            <ion-segment-button (click)="SetVisibleMenu(true)">
                INFORMACIÓN
            </ion-segment-button>
            <ion-segment-button (click)="SetVisibleMenu(false)">
                FOTOS
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
    <div *ngIf="showMenuInformation">
        <ion-grid>
            <ion-row>
                <ion-col width-33>
                    <button ion-button style="width:100%" (click)="GoTo(1)">
            <div>
            <ion-icon name='albums'></ion-icon>
            <br>
            <label>Datos</label>
            </div>
        </button>
                </ion-col>
                <ion-col width-33>
                    <button ion-button style="width:100%" (click)="GoTo(2)">
            <div>
            <ion-icon name='pin'></ion-icon>
            <br>
            <label>Ubicación</label>
            </div>
        </button>
                </ion-col>
                <ion-col width-33>
                    <button ion-button style="width:100%" (click)="GoTo(3)">
            <div>
            <ion-icon name='medkit'></ion-icon>
            <br>
            <label>Veterinario</label>
            </div>
        </button>
                </ion-col>
            </ion-row>


            <ion-row>
                <ion-col width-33>
                    <button ion-button style="width:100%" (click)="GoTo(4)">
            <div>
            <ion-icon name='trophy'></ion-icon>
            <br>
            <label>Eventos</label>
            </div>
        </button>
                </ion-col>
                <ion-col width-33>
                    <button ion-button style="width:100%" (click)="GoTo(5)">
            <div>
            <ion-icon name='paw'></ion-icon>
            <br>
            <label>Herrajes</label>
            </div>
        </button>
                </ion-col>
                <ion-col width-33>
                    <button ion-button style="width:100%" (click)="GoTo(6)">
            <div>
            <ion-icon name='nutrition'></ion-icon>
            <br>
            <label>Alimentación</label>
            </div>
        </button>
                </ion-col>
            </ion-row>


            <ion-row>
                <ion-col width-33>
                    <button ion-button style="width:100%" (click)="GoTo(7)">
            <div>
            <ion-icon name='medical'></ion-icon>
            <br>
            <label>Dentista</label>
            </div>
        </button>
                </ion-col>
                <ion-col width-33>
                    <button ion-button style="width:100%">
            <div>
            <ion-icon name='nuclear'></ion-icon>
            <br>
            <label style="font-size: 12px">Desparasitaciones</label>
            </div>
        </button>
                </ion-col>
                <ion-col width-33>
                    <button ion-button style="width:100%" (click)="GoTo(8)">
            <div>
            <ion-icon name='paper'></ion-icon>
            <br>
            <label>Notas varias</label>
            </div>
        </button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <!--<div *ngIf="menu == 'fotos'">
        <menuFotos-caballo></menuFotos-caballo>
    </div>-->
</ion-content>