<ion-header>
  <ion-toolbar>
    <ion-buttons left>
      <!-- opciones y fotos -->
      <button ion-button icon-only *ngIf="menu == 'informacion'"
              tappable
              (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>

      <!-- calendario -->
      <button ion-button icon-only *ngIf="menu == 'calendario' && calendarOptions.step == CALENDAR_STEP_YEAR"
              tappable
              (click)="back()">
        <ion-icon class="equi-principal-color" name="arrow-back"></ion-icon>
      </button>
      <button ion-button icon-only class="equi-toolbar-btn"
              *ngIf="menu == 'calendario' && calendarOptions.step > CALENDAR_STEP_YEAR"
              tappable
              (click)="backCalendar()">
        <ion-icon class="equi-principal-color" name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title class="equi-toolbar-title-content">
      <span class="equi-toolbar-title">{{caballo.Nombre}}</span>
    </ion-title>

    <ion-buttons right>
      <!-- opciones caballo -->
      <button ion-button icon-only *ngIf="menu == 'informacion'" tappable (click)="openMenu($event)">
        <ion-icon name="more"></ion-icon>
      </button>

      <!-- calendario -->
      <button ion-button class="equi-toolbar-btn"
              *ngIf="menu == 'calendario' && calendarOptions.step < CALENDAR_STEP_ALERT"
              tappable
              (click)="showFilterAlertTypes($event)">
        {{ "PANT003_BTN_VER" | translate }}
      </button>
      <button ion-button icon-only *ngIf="menu == 'calendario' && calendarOptions.step < CALENDAR_STEP_ALERT"
              tappable
              (click)="newAlert()">
        <ion-icon class="equi-principal-color" name="add-circle"></ion-icon>
      </button>
      <button ion-button class="equi-toolbar-btn"
              *ngIf="menu == 'calendario' && calendarOptions.step == CALENDAR_STEP_ALERT"
              tappable
              (click)="editAlert()">
        {{ "PANT003_BTN_EDIT" | translate }}
      </button>
    </ion-buttons>
  </ion-toolbar>

  <ion-segment [(ngModel)]="menu" (ngModelChange)="showSlide($event)" color="primary">
    <ion-segment-button value="informacion">
      {{ "PANT003_BTN_INF" | translate }}
    </ion-segment-button>
    <ion-segment-button value="fotos">
      {{ "PANT003_BTN_FOT" | translate }}
    </ion-segment-button>
    <ion-segment-button value="calendario">
      {{ "PANT003_BTN_CALE" | translate }}
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content class="equi-content-no-scroll">
  <ion-slides (ionSlideDidChange)="slideChanged($event)">
    <!-- seccion de opciones del caballo -->
    <ion-slide class="equi-content-slide-start">
      <div class="ficha-caballo equi-content-slide-scroll">
        <segment-ficha-caballo *ngIf="caballo" [caballo]="caballo"></segment-ficha-caballo>
      </div>
    </ion-slide>

    <!-- seccion de fotos -->
    <ion-slide class="equi-content-slide-start">
      <div class="ficha-caballo equi-content-slide-scroll">
        Fotos
      </div>
    </ion-slide>

    <!-- seccion de calendario -->
    <ion-slide class="equi-content-slide-start">
      <div class="ficha-caballo equi-content-slide-scroll">
        <segment-calendario-caballo *ngIf="optionsTypeAlerts && calendarOptions" [caballo]="caballo"
                                    [optionsAlertTypes]="optionsTypeAlerts"
                                    [calendarOptions]="calendarOptions"></segment-calendario-caballo>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
