<ion-header>
  <ion-toolbar>
    <ion-buttons left>
      <!-- opciones y fotos -->
      <button ion-button icon-only *ngIf="menu == 'informacion'"
              (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>

      <!-- calendario -->
      <button ion-button icon-only *ngIf="menu == 'calendario' && calendarOptions.step == CALENDAR_STEP_MONTH"
              (click)="back()">
        <ion-icon class="equi-principal-color" name="arrow-back"></ion-icon>
      </button>
      <button ion-button icon-only class="equi-toolbar-btn"
              *ngIf="menu == 'calendario' && (calendarOptions.step == CALENDAR_STEP_WEEK || calendarOptions.step == CALENDAR_STEP_ALERT)"
              (click)="backCalendar()">
        <ion-icon class="equi-principal-color" name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title class="equi-toolbar-title-content">
      <span class="equi-toolbar-title">{{caballo.Nombre}}</span>
    </ion-title>

    <ion-buttons right>
      <!-- opciones caballo -->
      <button ion-button icon-only *ngIf="menu == 'informacion'" (click)="openMenu($event)">
        <ion-icon name="more"></ion-icon>
      </button>

      <!-- calendario -->
      <button ion-button class="equi-toolbar-btn"
              *ngIf="menu == 'calendario' && calendarOptions.step < CALENDAR_STEP_ALERT"
              (click)="showFilterAlertTypes($event)">
        Ver
      </button>
      <button ion-button icon-only *ngIf="menu == 'calendario' && calendarOptions.step < CALENDAR_STEP_ALERT"
              (click)="newAlert()">
        <ion-icon class="equi-principal-color" name="add-circle"></ion-icon>
      </button>
      <button ion-button class="equi-toolbar-btn"
              *ngIf="menu == 'calendario' && calendarOptions.step == CALENDAR_STEP_ALERT"
              (click)="editAlert()">
        Editar
      </button>
    </ion-buttons>
  </ion-toolbar>

  <ion-segment [(ngModel)]="menu" (ngModelChange)="showSlide($event)" color="primary">
    <ion-segment-button value="informacion">
      {{ "PANT003_BTN_INF" | translate }}
    </ion-segment-button>
    <ion-segment-button value="fotos">
      {{ "PANT003_BTN_FOT" | translate }}
    </ion-segment-button>
    <ion-segment-button value="calendario">
      CALENDARIO
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <ion-slides (ionSlideDidChange)="slideChanged($event)">
    <!-- seccion de opciones del caballo -->
    <ion-slide class="equi-content-slide-start">
      <ion-grid>
        <ion-row>
          <ion-col col-4>
            <button ion-button block (click)="GoTo(1)">
              <div>
                <ion-icon name='albums'></ion-icon>
                <br>
                <label>{{ "PANT003_BTN_DAT" | translate }}</label>
              </div>
            </button>
          </ion-col>
          <ion-col col-4>
            <button ion-button block (click)="GoTo(2)">
              <div>
                <ion-icon name='pin'></ion-icon>
                <br>
                <label>{{ "PANT003_BTN_UBI" | translate }}</label>
              </div>
            </button>
          </ion-col>
          <ion-col col-4>
            <button ion-button block (click)="GoTo(3)">
              <div>
                <ion-icon name='medkit'></ion-icon>
                <br>
                <label>{{ "PANT003_BTN_VET" | translate }}</label>
              </div>
            </button>
          </ion-col>
        </ion-row>


        <ion-row>
          <ion-col col-4>
            <button ion-button block (click)="GoTo(4)">
              <div>
                <ion-icon name='trophy'></ion-icon>
                <br>
                <label>{{ "PANT003_BTN_EVETS" | translate }}</label>
              </div>
            </button>
          </ion-col>
          <ion-col col-4>
            <button ion-button block (click)="GoTo(5)">
              <div>
                <ion-icon name='paw'></ion-icon>
                <br>
                <label>{{ "PANT003_BTN_HERR" | translate }}</label>
              </div>
            </button>
          </ion-col>
          <ion-col col-4>
            <button ion-button block (click)="GoTo(6)">
              <div>
                <ion-icon name='nutrition'></ion-icon>
                <br>
                <label>{{ "PANT003_BTN_ALIM" | translate }}</label>
              </div>
            </button>
          </ion-col>
        </ion-row>


        <ion-row>
          <ion-col col-4>
            <button ion-button block (click)="GoTo(7)">
              <div>
                <ion-icon name='medical'></ion-icon>
                <br>
                <label>{{ "PANT003_BTN_DEN" | translate }}</label>
              </div>
            </button>
          </ion-col>
          <ion-col col-4>
            <button ion-button block (click)="GoTo(8)">
              <div>
                <ion-icon name='nuclear'></ion-icon>
                <br>
                <label style="font-size: 12px">{{ "PANT003_BTN_DESP" | translate }}</label>
              </div>
            </button>
          </ion-col>
          <ion-col col-4>
            <button ion-button block (click)="GoTo(9)">
              <div>
                <ion-icon name='paper'></ion-icon>
                <br>
                <label>{{ "PANT003_BTN_NOT" | translate }}</label>
              </div>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <!-- seccion de fotos -->
    <ion-slide class="equi-content-slide-start">
      Fotos
    </ion-slide>

    <!-- seccion de calendario -->
    <ion-slide class="equi-content-slide-start">
      <!--
            <segment-calendario-grupo *ngIf="grupo.ID" [grupo]="grupo"
                                [optionsAlertTypes]="optionsTypeAlerts"
                                [calendarOptions]="calendarOptions">
      </segment-calendario-grupo>
      -->
      <segment-calendario-caballo *ngIf="optionsTypeAlerts && calendarOptions" [caballo]="caballo"
                                  [optionsAlertTypes]="optionsTypeAlerts"
                                  [calendarOptions]="calendarOptions"></segment-calendario-caballo>
    </ion-slide>
  </ion-slides>
</ion-content>
