<ion-header>
  <ion-toolbar class="equi-toolbar">
    <ion-buttons left>
      <button class="equi-toolbar-btn" (click)="cancel()">
        {{ 'PANT024_BTN_CAN' | translate }}
      </button>
    </ion-buttons>

    <ion-buttons right>
      <button class="equi-toolbar-btn" (click)="accept()">
        {{ 'PANT024_BTN_ACE' | translate }}
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <ion-searchbar (ionInput)="filter($event)" [autocomplete]="true"
                       [placeholder]="labels['PANT024_TXT_FICA']"></ion-searchbar>
      </ion-col>
      <ion-col col-12>
        <button (click)="selectAll()" ion-button full>{{ 'PANT024_BTN_SETO' | translate }}</button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="showSpinner" style="text-align: center;">
    <ion-spinner></ion-spinner>
  </div>

  <ion-list no-lines>
    <ion-item *ngFor="let c of caballos" (click)="c.seleccion = !c.seleccion">
      <ion-avatar item-left>
        <img src="assets/img/caballo.jpg">
      </ion-avatar>

      <span [ngClass]="{'equi-edit': isFilter, 'equi-principal-color': c.seleccion && !isFilter}"
            class="equi-title-form"
            [innerHTML]="c.caballo.NombreFilter"></span><br/>
      <span *ngIf="c.caballo.Establo"
            [ngClass]="{'equi-edit': isFilter, 'equi-principal-color': c.seleccion && !isFilter}"
            class="equi-subtitle-form"
            [innerHTML]="c.caballo.EstabloFilter"></span>

      <ion-icon *ngIf="c.seleccion" class="equi-icon-input" name="remove-circle" item-right></ion-icon>
      <ion-icon *ngIf="!c.seleccion" class="equi-icon-unselected" name="add-circle" item-right></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>
