<ion-header>
  <ion-toolbar class="equi-toolbar">
    <ion-buttons left>
      <button class="equi-toolbar-btn" tappable (click)="goBack()">{{ 'PANT038_BTN_CAN' | translate }}</button>
    </ion-buttons>

    <ion-buttons right>
      <button class="equi-toolbar-btn"
              [disabled]="!perfilForm.valid || (alerta.AlertaCaballo.length == 0 && alerta.AlertaGrupo.length == 0)"
              tappable
              (click)="save()">{{ 'PANT038_BTN_GUA' | translate }}
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #perfilForm="ngForm">

    <!-- Cuando no hay nada seleccionado -->
    <ion-grid *ngIf="alerta.Tipo == null">
      <ion-row class="border-bottom">
        <ion-col>
          <ion-select name="TipoAlerta" class="equi-input-normal-text equi-select-width" required="true"
                      placeholder="{{ 'PANT038_TXT_TIP' | translate }}"
                      okText="{{ 'PANT038_BTN_ACE' | translate }}" cancelText="{{ 'PANT038_BTN_CAN' | translate }}"
                      [(ngModel)]="alerta.Tipo"
                      (ngModelChange)="changeTipoAlerta($event)">
            <ion-option *ngFor="let tipoAlerta of tiposAlerta" [value]="tipoAlerta.tipo">{{tipoAlerta.descripcion}}
            </ion-option>
          </ion-select>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- Cuando eligen Dentista / Herrero / Dentista -->
    <ion-grid *ngIf="alerta.Tipo != null && (alerta.Tipo == 1 || alerta.Tipo == 2 || alerta.Tipo == 4)">
      <ion-row class="border-bottom" [hidden]="alerta.ID">
        <ion-col>
          <ion-select name="TipoAlerta" class="equi-input-normal-text equi-select-width" required="true"
                      placeholder="{{ 'PANT038_TXT_TIP' | translate }}"
                      okText="{{ 'PANT038_BTN_ACE' | translate }}" cancelText="{{ 'PANT038_BTN_CAN' | translate }}"
                      [(ngModel)]="alerta.Tipo"
                      (ngModelChange)="changeTipoAlerta($event)">
            <ion-option *ngFor="let tipoAlerta of tiposAlerta" [value]="tipoAlerta.tipo">{{tipoAlerta.descripcion}}
            </ion-option>
          </ion-select>
        </ion-col>
      </ion-row>

      <ion-row class="border-bottom">
        <ion-col col-2 class="col-center">
          <ion-icon name="person" class="equi-icon-input"></ion-icon>
        </ion-col>
        <ion-col class="equi-col-input-alert">
          <input style="padding-left: 5px;" name="NombreProfesional" class="equi-input-text equi-input-normal-text" type="text"
                     placeholder="{{ 'PANT038_LBL_ALGQUI' | translate }}"
                     required="true" [(ngModel)]="alerta.NombreProfesional">
        </ion-col>
      </ion-row>

      <ion-row class="border-bottom">
        <ion-col col-2 class="col-center">
          <ion-icon name="calendar" class="equi-icon-input"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-datetime name="FechaNotificacion" class="equi-input-normal-text"
                        placeholder="{{ 'PANT038_LBL_ALGF' | translate }}"
                        displayFormat="DD/MM/YYYY" pickerFormat="D MMMM YYYY"
                        cancelText="{{ 'PANT038_BTN_CAN' | translate }}"
                        doneText="{{ 'PANT038_BTN_ACE' | translate }}" max="2050" [(ngModel)]="alerta.FechaNotificacion"
                        required="true"></ion-datetime>
        </ion-col>
      </ion-row>

      <ion-row class="border-bottom">
        <ion-col col-2 class="col-center">
          <ion-icon name="time" class="equi-icon-input"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-datetime name="HoraNotificacion" class="equi-input-normal-text"
                        placeholder="{{ 'PANT038_LBL_ALGH' | translate }}" displayFormat="h:mm A"
                        pickerFormat="h mm A" cancelText="{{ 'PANT038_BTN_CAN' | translate }}"
                        doneText="{{ 'PANT038_BTN_ACE' | translate }}"
                        [(ngModel)]="alerta.HoraNotificacion" required="true"></ion-datetime>
        </ion-col>
      </ion-row>

      <ion-row class="border-bottom">
        <ion-col col-2 class="col-center">
          <ion-icon name="notifications" class="equi-icon-input"></ion-icon>
        </ion-col>
        <ion-col col-8 class="equi-col-center equi-input-normal-text">
          <span *ngIf="alerta.AlertaRecordatorio.length > 0">&nbsp;&nbsp;&nbsp;&nbsp;{{alerta.AlertaRecordatorio[0].Descripcion}}&nbsp;{{ 'PANT038_LBL_ANTS' | translate }}</span>
          <span *ngIf="alerta.AlertaRecordatorio.length == 0" class="equi-text-edit">&nbsp;&nbsp;&nbsp;&nbsp;{{ 'PANT038_TXT_REC' | translate }}</span>
        </ion-col>
        <ion-col col-2 class="col-center">
          <ion-icon *ngIf="alerta.AlertaRecordatorio.length > 0" name="remove-circle" tappable (click)="removeRecordatorio()"
                    class="equi-icon-input equi-icon-delete"></ion-icon>
          <ion-icon *ngIf="alerta.AlertaRecordatorio.length == 0" name="add-circle" tappable (click)="viewRecordatorios()"
                    class="equi-icon-input"></ion-icon>
        </ion-col>
      </ion-row>

      <ion-row class="border-bottom">
        <ion-col col-2 class="col-center">
          <ion-icon name="ios-pin" class="equi-icon-input"></ion-icon>
        </ion-col>
        <ion-col class="equi-col-input-alert">
          <input name="Ubicacion" class="equi-input-text equi-input-normal-text" type="text"
                     placeholder="{{ 'PANT038_TXT_UBI' | translate }}"
                     [(ngModel)]="alerta.Ubicacion">
        </ion-col>
      </ion-row>

      <ion-row class="border-bottom">
        <ion-col>
          <textarea name="Descripcion" class="equi-input-text equi-input-normal-text" autoresize rows="3"
                        placeholder="{{ 'PANT038_TXT_NO' | translate }}"
                        [(ngModel)]="alerta.Descripcion"></textarea>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- Cuando eligen nota -->
    <ion-grid *ngIf="alerta.Tipo == 5">
      <ion-row class="border-bottom" [hidden]="alerta.ID">
        <ion-col>
          <ion-select name="TipoAlerta" class="equi-input-normal-text equi-select-width" required="true"
                      placeholder="{{ 'PANT038_TXT_TIP' | translate }}"
                      okText="{{ 'PANT038_BTN_ACE' | translate }}" cancelText="{{ 'PANT038_BTN_CAN' | translate }}"
                      [(ngModel)]="alerta.Tipo"
                      (ngModelChange)="changeTipoAlerta($event)">
            <ion-option *ngFor="let tipoAlerta of tiposAlerta" [value]="tipoAlerta.tipo">{{tipoAlerta.descripcion}}
            </ion-option>
          </ion-select>
        </ion-col>
      </ion-row>

      <ion-row class="border-bottom" class="border-bottom" style="height: 60px">
        <ion-col class="equi-col-input-alert">
          <input name="Titulo" class="equi-input-text equi-input-title-note" type="text"
                     placeholder="{{ 'PANT038_TXT_TI' | translate }}" required="true"
                     [(ngModel)]="alerta.Titulo">
        </ion-col>
      </ion-row>

      <ion-row class="border-bottom">
        <ion-col>
          <textarea name="Descripcion" class="equi-input-text equi-input-normal-text" autoresize rows="3"
                        placeholder="{{ 'PANT038_TXT_NO' | translate }}"
                        [(ngModel)]="alerta.Descripcion"></textarea>
        </ion-col>
      </ion-row>

      <ion-row class="border-bottom">
        <ion-col col-2 class="col-center">
          <ion-icon name="calendar" class="equi-icon-input"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-datetime name="FechaNotificacion" class="equi-input-normal-text"
                        placeholder="{{ 'PANT038_LBL_ALGF' | translate }}"
                        displayFormat="DD/MM/YYYY" pickerFormat="D MMMM YYYY"
                        cancelText="{{ 'PANT038_BTN_CAN' | translate }}"
                        doneText="{{ 'PANT038_BTN_ACE' | translate }}" max="2050" [(ngModel)]="alerta.FechaNotificacion"
                        required="true"></ion-datetime>
        </ion-col>
      </ion-row>

      <ion-row class="border-bottom">
        <ion-col col-2 class="col-center">
          <ion-icon name="time" class="equi-icon-input"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-datetime name="HoraNotificacion" class="equi-input-normal-text"
                        placeholder="{{ 'PANT038_LBL_ALGH' | translate }}" displayFormat="h:mm A"
                        pickerFormat="h mm A" cancelText="{{ 'PANT038_BTN_CAN' | translate }}"
                        doneText="{{ 'PANT038_BTN_ACE' | translate }}"
                        [(ngModel)]="alerta.HoraNotificacion" required="true"></ion-datetime>
        </ion-col>
      </ion-row>

      <ion-row class="border-bottom">
        <ion-col col-2 class="col-center">
          <ion-icon name="notifications" class="equi-icon-input"></ion-icon>
        </ion-col>
        <ion-col col-8 class="equi-col-center equi-input-normal-text">
          <span *ngIf="alerta.AlertaRecordatorio.length > 0">&nbsp;&nbsp;&nbsp;&nbsp;{{alerta.AlertaRecordatorio[0].Descripcion}}&nbsp;{{ 'PANT038_LBL_ANTS' | translate }}</span>
          <span *ngIf="alerta.AlertaRecordatorio.length == 0" class="equi-text-edit">&nbsp;&nbsp;&nbsp;&nbsp;{{ 'PANT038_TXT_REC' | translate }}</span>
        </ion-col>
        <ion-col col-2 class="col-center">
          <ion-icon *ngIf="alerta.AlertaRecordatorio.length > 0" name="remove-circle" tappable (click)="removeRecordatorio()"
                    class="equi-icon-input equi-icon-delete"></ion-icon>
          <ion-icon *ngIf="alerta.AlertaRecordatorio.length == 0" name="add-circle" tappable (click)="viewRecordatorios()"
                    class="equi-icon-input"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- Cuando eligen evento -->
    <ion-grid *ngIf="alerta.Tipo == 3">
      <ion-row class="border-bottom" [hidden]="alerta.ID">
        <ion-col>
          <ion-select name="TipoAlerta" class="equi-input-normal-text equi-select-width" required="true"
                      placeholder="{{ 'PANT038_TXT_TIP' | translate }}"
                      okText="{{ 'PANT038_BTN_ACE' | translate }}" cancelText="{{ 'PANT038_BTN_CAN' | translate }}"
                      [(ngModel)]="alerta.Tipo"
                      (ngModelChange)="changeTipoAlerta($event)">
            <ion-option *ngFor="let tipoAlerta of tiposAlerta" [value]="tipoAlerta.tipo">{{tipoAlerta.descripcion}}
            </ion-option>
          </ion-select>
        </ion-col>
      </ion-row>

      <ion-row class="border-bottom" class="border-bottom" style="height: 60px">
        <ion-col class="equi-col-input-alert">
          <input name="Titulo" class="equi-input-text equi-input-title-note" type="text"
                     placeholder="{{ 'PANT038_TXT_TI' | translate }}" required="true"
                     [(ngModel)]="alerta.Titulo">
        </ion-col>
      </ion-row>

      <ion-row class="border-bottom">
        <ion-col>
          <textarea name="Descripcion" class="equi-input-text equi-input-normal-text" autoresize rows="3"
                        placeholder="{{ 'PANT038_TXT_NO' | translate }}"
                        [(ngModel)]="alerta.Descripcion"></textarea>
        </ion-col>
      </ion-row>

      <ion-row class="border-bottom">
        <ion-col col-2 class="col-center">
          <ion-icon name="calendar" class="equi-icon-input"></ion-icon>
        </ion-col>
        <ion-col col-5>
          <ion-datetime name="FechaNotificacion" class="equi-input-normal-text"
                        placeholder="{{ 'PANT038_TXT_EVFI' | translate }}"
                        displayFormat="DD/MM/YYYY" pickerFormat="D MMMM YYYY"
                        cancelText="{{ 'PANT038_BTN_CAN' | translate }}"
                        doneText="{{ 'PANT038_BTN_ACE' | translate }}" max="2050" [(ngModel)]="alerta.FechaNotificacion"
                        required="true"></ion-datetime>
        </ion-col>
        <ion-col col-5>
          <ion-datetime name="FechaFin" class="equi-input-normal-text"
                        placeholder="{{ 'PANT038_TXT_EVFF' | translate }}" displayFormat="DD/MM/YYYY"
                        pickerFormat="D MMMM YYYY" cancelText="{{ 'PANT038_BTN_CAN' | translate }}"
                        doneText="{{ 'PANT038_BTN_ACE' | translate }}"
                        max="2050" [(ngModel)]="alerta.FechaFinal" required="true"></ion-datetime>
        </ion-col>
      </ion-row>

      <ion-row class="border-bottom">
        <ion-col col-2 class="col-center">
          <ion-icon name="time" class="equi-icon-input"></ion-icon>
        </ion-col>
        <ion-col col-5>
          <ion-datetime name="HoraNotificacion" class="equi-input-normal-text"
                        placeholder="{{ 'PANT038_TXT_EVHI' | translate }}" displayFormat="h:mm A"
                        pickerFormat="h mm A" cancelText="{{ 'PANT038_BTN_CAN' | translate }}"
                        doneText="{{ 'PANT038_BTN_ACE' | translate }}"
                        [(ngModel)]="alerta.HoraNotificacion" required="true"></ion-datetime>
        </ion-col>
        <ion-col col-5>
          <ion-datetime name="HoraFin" class="equi-input-normal-text" placeholder="{{ 'PANT038_TXT_EVHF' | translate }}"
                        displayFormat="h:mm A"
                        pickerFormat="h mm A" cancelText="{{ 'PANT038_BTN_CAN' | translate }}"
                        doneText="{{ 'PANT038_BTN_ACE' | translate }}"
                        [(ngModel)]="alerta.HoraFinal" required="true"></ion-datetime>
        </ion-col>
      </ion-row>

      <ion-row class="border-bottom">
        <ion-col col-2 class="col-center">
          <ion-icon name="notifications" class="equi-icon-input"></ion-icon>
        </ion-col>
        <ion-col col-8 class="equi-col-center equi-input-normal-text">
          <span *ngIf="alerta.AlertaRecordatorio.length > 0">&nbsp;&nbsp;&nbsp;&nbsp;{{alerta.AlertaRecordatorio[0].Descripcion}}&nbsp;{{ 'PANT038_LBL_ANTS' | translate }}</span>
          <span *ngIf="alerta.AlertaRecordatorio.length == 0" class="equi-text-edit">&nbsp;&nbsp;&nbsp;&nbsp;{{ 'PANT038_TXT_REC' | translate }}</span>
        </ion-col>
        <ion-col col-2 class="col-center">
          <ion-icon *ngIf="alerta.AlertaRecordatorio.length > 0" name="remove-circle" tappable (click)="removeRecordatorio()"
                    class="equi-icon-input equi-icon-delete"></ion-icon>
          <ion-icon *ngIf="alerta.AlertaRecordatorio.length == 0" name="add-circle" tappable (click)="viewRecordatorios()"
                    class="equi-icon-input"></ion-icon>
        </ion-col>
      </ion-row>

      <ion-row class="border-bottom">
        <ion-col col-2 class="col-center">
          <ion-icon name="ios-pin" class="equi-icon-input"></ion-icon>
        </ion-col>
        <ion-col class="equi-col-input-alert">
          <input name="Ubicacion" class="equi-input-text equi-input-normal-text" type="text"
                     placeholder="{{ 'PANT038_TXT_UBI' | translate }}"
                     [(ngModel)]="alerta.Ubicacion">
        </ion-col>
      </ion-row>

      <ion-row class="border-bottom">
        <ion-col>
          <textarea name="Resultado" class="equi-input-text equi-input-normal-text" autoresize rows="3"
                        placeholder="{{ 'PANT038_TXT_EVRES' | translate }}"
                        [(ngModel)]="alerta.Resultado"></textarea>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
