<ion-searchbar (ionInput)="filter($event)" [autocomplete]="true" [placeholder]="'Filtrar caballos'"></ion-searchbar>

<equi-button-add *ngIf="!parametrosCaballos.modoEdicion" [label]="'Agregar nuevo'" (action)="addCaballos()"></equi-button-add>

<ion-list no-lines>
    <ion-item (click)="selectAll()" *ngIf="parametrosCaballos.modoEdicion">
        <h2 class="equi-title-form">Seleccionar todos los caballos</h2>
        <ion-icon class="equi-principal-color" name="{{getCountSelected() != caballosGrupoRespaldo.length ? 'ios-square-outline' : 'ios-checkbox'}}"
            item-right></ion-icon>
    </ion-item>

    <ion-item *ngFor="let cg of caballosGrupo" (click)="select(cg)">
        <ion-avatar item-left>
            <img src="assets/img/caballo.jpg">
        </ion-avatar>
        <h2 class="equi-title-form">{{cg.caballoGrupo.Caballo.Nombre}}</h2>
        <ion-icon class="equi-principal-color" name="{{cg.seleccion ? 'ios-checkbox' : 'ios-square-outline'}}" *ngIf="parametrosCaballos.modoEdicion"
            item-right></ion-icon>
    </ion-item>
</ion-list>