<ion-header>
    <ion-toolbar>
        <ion-buttons left>
            <button ion-button class="button-text" *ngIf="modoEdicion" (click)="cancelEdit()">
                Cancelar
            </button>
        </ion-buttons>

        <ion-title class="toolbar-top-center">
            <span class="toolbar-top-title">Mi perfil</span>
        </ion-title>

        <ion-buttons right>
            <button ion-button class="button-text" *ngIf="!modoEdicion" (click)="edit()">
                Editar            
            </button>
            <button ion-button class="button-text" *ngIf="modoEdicion" [disabled]="countEstablosForDelete() == 0" (click)="delete()">
                Eliminar
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-toolbar>
        <ion-segment [(ngModel)]="selectedTab" color="primary" (ionChange)="changeTab()">
            <ion-segment-button value="datos">
                DATOS
            </ion-segment-button>
            <ion-segment-button value="establos">
                ESTABLO(S)
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>

    <ion-grid>
        <ion-row>
            <ion-col col-12>
                <ion-searchbar (ionInput)="filter($event)" [autocomplete]="true" [placeholder]="'Filtrar establos'"></ion-searchbar>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-list no-lines *ngIf="establos">
        <ion-item *ngIf="modoEdicion" (click)="selectAll()">
            Seleccionar todos los caballos
            <ion-icon name="square" class="color-checks" *ngIf="getCountSelected() != establosRespaldo.length" item-right></ion-icon>
            <ion-icon name="checkbox" class="color-checks" *ngIf="getCountSelected() == establosRespaldo.length" item-right></ion-icon>
        </ion-item>
        <ion-item *ngIf="!modoEdicion" (click)="newEstablo()">
            <ion-avatar item-left>
                <img src="assets/img/add.png">
            </ion-avatar>
            <h2>Crear establo</h2>
        </ion-item>

        <ion-item *ngFor="let e of establos" (click)="selectEstablo(e)">
            <ion-avatar item-left>
                <img src="assets/img/caballo.jpg">
            </ion-avatar>
            <h2>{{e.establo.Nombre}}</h2>
            <p *ngIf="e.establo.Direccion != ''">
                <ion-icon name="pin"></ion-icon> {{e.establo.Direccion}}
            </p>

            <ion-icon name="square" class="color-checks" *ngIf="modoEdicion && !e.seleccion" item-right></ion-icon>
            <ion-icon name="checkbox" class="color-checks" *ngIf="modoEdicion && e.seleccion" item-right></ion-icon>
        </ion-item>
    </ion-list>

</ion-content>