<ion-header>
    <ion-navbar>
        <ion-title class="equi-toolbar-title-content">
            <br />
            <span *ngIf="!isUpdate" class="equi-toolbar-subtitle">Nueva notificacion</span>
            <span *ngIf="isUpdate" class="equi-toolbar-subtitle">Editar notificacion</span>
        </ion-title>
        <ion-buttons right>
            <button *ngIf="!isUpdate" class="equi-toolbar-btn" [disabled]="!formNotificaciones.valid" tappable (click)="saveNotificacion()">Guardar</button>
            <button *ngIf="isUpdate" class="equi-toolbar-btn" [disabled]="!formNotificaciones.valid" tappable (click)="saveNotificacion()">Modificar</button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <form [formGroup]="formNotificaciones" (ngSubmit)="saveNotificacion()">
        <ion-item *ngIf="showId">
            <ion-label>ID</ion-label>
            <ion-input type="text" formControlName="Id"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Titulo</ion-label>
            <ion-input type="text" formControlName="Titulo"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Fecha</ion-label>
            <ion-datetime displayFormat="D/M/YYYY" pickerFormat="D MMMM YYYY" cancelText="Cancelar" doneText="Aceptar" formControlName="FechaNotificacion"
                max="2050"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label>Hora</ion-label>
            <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" formControlName="HoraNotificacion"></ion-datetime>
        </ion-item>
        <ion-item>
            <ion-label>Tipo</ion-label>
            <ion-select formControlName="Tipo">
                <ion-option *ngFor="let item of tiposAlertaList" [disabled]="disableFromNotas" [value]="item.Key">{{item.Value}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Activa</ion-label>
            <ion-toggle checked="true" formControlName="Activa"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>Descripcion</ion-label>
            <ion-input type="text" formControlName="Descripcion"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Caballos</ion-label>
            <ion-select formControlName="CaballosList" multiple="true">
                <ion-option *ngFor="let item of selectCaballos" [disabled]="disableFromNotas" [value]="item.Key">{{item.Value}}</ion-option>
            </ion-select>
        </ion-item>
    </form>
</ion-content>
