<ion-header>
    <ion-toolbar class="equi-toolbar">
        <ion-buttons left>
            <button ion-button class="equi-toolbar-btn" tappable (click)="goBack()">
                {{ 'PANT020_BTN_CAN' | translate }}
            </button>
        </ion-buttons>

        <ion-buttons right>
            <button ion-button class="equi-toolbar-btn" [disabled]="!notaForm.valid" tappable (click)="save()">
                {{ 'PANT020_BTN_GU' | translate }}
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="notaForm">
        <ion-grid>
            <ion-row class="border-bottom" style="height: 60px">
                <ion-col class="equi-col-input-alert">
                    <input formControlName="Titulo" class="equi-input-text equi-input-title-note" type="text" placeholder="{{ 'PANT020_TXT_TI' | translate }}">
                </ion-col>
            </ion-row>

            <ion-row class="border-bottom">
                <ion-col>
                    <textarea formControlName="Descripcion" class="equi-input-text equi-input-normal-text" autoresize rows="3" placeholder="{{ 'PANT020_TXT_NO' | translate }}"></textarea>
                </ion-col>
            </ion-row>

            <ion-row class="border-bottom">
                <ion-col col-2 class="col-center">
                    <ion-icon name="calendar" class="equi-icon-input"></ion-icon>
                </ion-col>
                <ion-col>
                    <ion-datetime formControlName="FechaNotificacion" class="equi-input-normal-text" placeholder="{{ 'PANT020_TXT_FEC' | translate }}"
                        displayFormat="DD/MM/YYYY" pickerFormat="D MMMM YYYY" cancelText="Cancelar" doneText="Aceptar" max="2050"></ion-datetime>
                </ion-col>
            </ion-row>

            <ion-row class="border-bottom">
                <ion-col col-2 class="col-center">
                    <ion-icon name="time" class="equi-icon-input"></ion-icon>
                </ion-col>
                <ion-col>
                    <ion-datetime formControlName="HoraNotificacion" class="equi-input-normal-text" placeholder="{{ 'PANT020_TXT_HR' | translate }}"
                        displayFormat="h:mm A" pickerFormat="h mm A" cancelText="Cancelar" doneText="Aceptar"></ion-datetime>
                </ion-col>
            </ion-row>

            <ion-row class="border-bottom">
                <ion-col col-2 class="col-center">
                    <ion-icon name="notifications" class="equi-icon-input"></ion-icon>
                </ion-col>
                <ion-col col-8 class="equi-col-center equi-input-normal-text">
                    <span *ngIf="alerta.AlertaRecordatorio.length > 0">&nbsp;&nbsp;&nbsp;&nbsp;{{alerta.AlertaRecordatorio[0].Descripcion}}&nbsp;{{ 'PANT020_LBL_ANT' | translate }}</span>
                    <span *ngIf="alerta.AlertaRecordatorio.length == 0" class="equi-text-edit">&nbsp;&nbsp;&nbsp;&nbsp;{{ 'PANT020_TXT_REC' | translate }}</span>
                </ion-col>
                <ion-col col-2 class="col-center">
                    <ion-icon *ngIf="alerta.AlertaRecordatorio.length > 0" name="remove-circle" tappable (click)="removeRecordatorio()" class="equi-icon-input equi-icon-delete"></ion-icon>
                    <ion-icon *ngIf="alerta.AlertaRecordatorio.length == 0" name="add-circle" tappable (click)="viewRecordatorios()" class="equi-icon-input"></ion-icon>
                </ion-col>
            </ion-row>

            <ion-row class="border-bottom">
                <ion-col col-2 class="col-center">
                    <ion-icon name="ios-pin" class="equi-icon-input"></ion-icon>
                </ion-col>
                <ion-col class="equi-col-input-alert">
                    <input formControlName="Ubicacion" class="equi-input-text equi-input-normal-text" type="text" placeholder="{{ 'PANT020_TXT_UBI' | translate }}">
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-2 class="col-center">
                    <ion-icon name="list" class="equi-icon-input"></ion-icon>
                </ion-col>
                <ion-col col-7 class="equi-col-center equi-input-normal-text">
                    <span style="padding-left: 10px;">{{alerta.AlertaCaballo.length + ' ' + labels['PANT020_LBL_CAB']}}</span>
                </ion-col>
                <ion-col class="equi-col-center equi-input-normal-text">
                    <a class="equi-principal-color" tappable (click)="selectCaballos()">{{ 'PANT020_BTN_EDIC' | translate }}</a>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>
