<ion-header>
  <ion-navbar hideBackButton>
    <ion-title class="equi-toolbar-title-content">
      <span class="equi-toolbar-title">Notificaciones</span>
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="newNotification()">
        <ion-icon class="equi-principal-color" name="add-circle"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content>

  <ion-segment [(ngModel)]="selectedTab" (ngModelChange)="loadNotificaciones()" color="primary">
    <ion-segment-button value="hoy">
      HOY
    </ion-segment-button>
    <ion-segment-button value="proximas">
      PRÓXIMAS
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="selectedTab == 'hoy'">

    <ion-grid>
      <ion-row class="border-bottom">
        <ion-col class="col-center">
          <span class="equi-bold-text">{{today}}</span>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row *ngFor="let nh of notificacionesHoy" class="padding-bottom-row" (click)="viewNotification(nh)">
        <ion-col col-3 class="col-center">
          <span [ngClass]="{'equi-expired-alert-normal': nh.Expired, 'equi-normal-text': !nh.Expired}">{{nh.Hora}}</span>
        </ion-col>
        <ion-col col-1></ion-col>
        <ion-col col-8 class="equi-title-note">
          <span [ngClass]="{'equi-expired-alert-bold': nh.Expired, 'equi-bold-text': !nh.Expired}">{{nh.Titulo}}</span>
        </ion-col>
        <ion-col offset-4 col-8 class="equi-title-note" *ngIf="nh.Ubicacion && nh.Ubicacion != null">
          <ion-icon name="ios-pin" [ngClass]="{'equi-expired-alert-normal': nh.Expired, 'equi-principal-color': !nh.Expired}"></ion-icon>
          <span [ngClass]="{'equi-expired-alert-normal': nh.Expired, 'equi-normal-text': !nh.Expired}">{{nh.Ubicacion}}</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="selectedTab == 'proximas'">
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <ion-searchbar (ionInput)="filter($event)" [autocomplete]="true" [placeholder]="'Buscar'"></ion-searchbar>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let nh of notificacionesProximas" class="padding-bottom-row border-bottom">
        <ion-col col-4>
          <ion-grid>
            <ion-row>
              <ion-col col-12 class="col-center">
                <span class="equi-bold-text">{{nh.FechaCorta}}</span>
              </ion-col>
              <ion-col col-12 class="col-center">
                <span class="equi-normal-text">{{nh.Dia}}</span>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>

        <ion-col col-8>
          <ion-grid>
            <ion-row *ngFor="let n of nh.Notificaciones; let i = index" [ngClass]="{'border-bottom padding-bottom-row': i < (nh.Notificaciones.length-1)}"
              (click)="viewNotification(n)">
              <ion-col col-12 class="equi-title-note"><span class="equi-bold-text">{{n.Titulo}}</span></ion-col>
              <ion-col col-12 class="equi-title-note" *ngIf="n.Ubicacion && n.Ubicacion != null">
                <ion-icon name="ios-pin" class="equi-principal-color"></ion-icon>
                <span class="equi-normal-text">{{n.Ubicacion}}</span>
              </ion-col>
              <ion-col col-12>
                <span class="equi-normal-text">{{n.Hora}}</span>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>