<ion-header>
    <ion-navbar>
        <ion-buttons end>
            <button ion-button class="equi-toolbar-btn" (click)="edit()">
                Editar
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div *ngIf="alertaEntity">
        <span *ngIf="alertaEntity.Titulo" class="equi-bold-text">{{alertaEntity.Titulo}}</span>
        <p *ngIf="alertaEntity.Descripcion" class="equi-normal-text equi-detail-note">{{alertaEntity.Descripcion}}</p>
        <hr />

        <p class="equi-normal-text">
            {{alertaEntity.Fecha}}
        </p>
        <p class="equi-normal-text">
            <span style="font-size: 40px;font-weight: bold;">{{alertaEntity.Hora}}</span> &nbsp; {{alertaEntity.Meridiano}}
        </p>
        <div *ngIf="alertaEntity.AlertaRecordatorio && alertaEntity.AlertaRecordatorio.length > 0">
            <span *ngFor="let recordatorio of alertaEntity.AlertaRecordatorio" class="equi-normal-text">
                <ion-icon name="notifications" class="equi-principal-color"></ion-icon>
                &nbsp;&nbsp;&nbsp;{{recordatorio.ValorTiempo}}&nbsp;{{recordatorio.UnidadTiempo.Descripcion}}&nbsp;antes
            </span>
        </div>
        <hr />

        <p class="equi-normal-text" *ngIf="alertaEntity.AlertaCaballo && alertaEntity.AlertaCaballo.length > 0">
            <ion-icon name="list-box" class="equi-principal-color"></ion-icon>&nbsp;&nbsp; {{alertaEntity.AlertaCaballo.length + ' caballo(s)'}}
        </p>

        <p *ngIf="alertaEntity.Ubicacion" class="equi-normal-text">
            <ion-icon name="ios-home" class="equi-principal-color"></ion-icon>&nbsp;&nbsp; {{alertaEntity.Ubicacion}}
        </p>
    </div>
</ion-content>