<ion-header> 
    <ion-toolbar class="equi-toolbar">
        <ion-buttons left>
            <button class="equi-toolbar-btn" (click)="goBack()">{{ 'PANT010_BTN_CAN' | translate }}</button>
        </ion-buttons>

        <ion-buttons right>
            <button class="equi-toolbar-btn" [disabled]="!formNotificaciones.valid" (click)="saveNotificacion()">
                {{ 'PANT010_BTN_GUA' | translate }}
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="formNotificaciones">
        <ion-grid>
            <ion-row class="border-bottom">
                <ion-col>
                    <ion-input formControlName="Titulo" class="equi-input-title-note" type="text" placeholder="{{ 'PANT010_TXT_INTI' | translate }}"></ion-input>
                </ion-col>
            </ion-row>

            <ion-row class="border-bottom">
                <ion-col col-2 class="col-center">
                    <ion-icon name="calendar" class="equi-icon-input"></ion-icon>
                </ion-col>
                <ion-col>
                    <ion-datetime formControlName="FechaNotificacion" class="equi-input-normal-text" placeholder="{{ 'PANT010_TXT_FE' | translate }}" displayFormat="DD/MM/YYYY"
                        pickerFormat="D MMMM YYYY" cancelText="Cancelar" doneText="Aceptar" max="2050"></ion-datetime>
                </ion-col>
            </ion-row>

            <ion-row class="border-bottom">
                <ion-col col-2 class="col-center">
                    <ion-icon name="time" class="equi-icon-input"></ion-icon>
                </ion-col>
                <ion-col>
                    <ion-datetime formControlName="HoraNotificacion" class="equi-input-normal-text" placeholder="{{ 'PANT010_TXT_HR' | translate }}" displayFormat="h:mm A"
                        pickerFormat="h mm A" cancelText="Cancelar" doneText="Aceptar"></ion-datetime>
                </ion-col>
            </ion-row>

            <ion-row class="border-bottom">
                <ion-col col-2 class="col-center">
                    <ion-icon name="ios-alarm" class="equi-icon-input"></ion-icon>
                </ion-col>
                <ion-col col-3 class="equi-col-center">
                    <ion-toggle formControlName="Activa" style="margin-left: 15px;" checked="false"></ion-toggle>
                </ion-col>
                <ion-col class="equi-col-center equi-input-normal-text">
                    <span>{{formNotificaciones.value.Activa ? labels['PANT010_TXT_NOTAC'] : labels['PANT010_TXT_NOTDES']}}</span>
                </ion-col>
            </ion-row>

            <ion-row class="border-bottom">
                <ion-col col-2 class="col-center">
                    <ion-icon name="notifications" class="equi-icon-input"></ion-icon>
                </ion-col>
                <ion-col col-8 class="equi-col-center equi-input-normal-text">
                    <span *ngIf="alerta.AlertaRecordatorio.length > 0">&nbsp;&nbsp;&nbsp;&nbsp;{{alerta.AlertaRecordatorio[0].Descripcion}}&nbsp;{{ 'PANT010_LBL_ANTS' | translate }}</span>
                    <span *ngIf="alerta.AlertaRecordatorio.length == 0" class="equi-text-edit">&nbsp;&nbsp;&nbsp;&nbsp;{{ 'PANT010_TXT_REC' | translate }}</span>
                </ion-col>
                <ion-col col-2 class="col-center">
                    <ion-icon *ngIf="alerta.AlertaRecordatorio.length > 0" name="remove-circle" (click)="removeRecordatorio()" class="equi-icon-input equi-icon-delete"></ion-icon>
                    <ion-icon *ngIf="alerta.AlertaRecordatorio.length == 0" name="add-circle" (click)="viewRecordatorios()" class="equi-icon-input"></ion-icon>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                    <ion-textarea formControlName="Descripcion" class="equi-input-normal-text" autoresize rows="3" placeholder="{{ 'PANT010_TXT_NOT' | translate }}"></ion-textarea>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>