<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button ion-button class="equi-toolbar-btn" [disabled]="!mensaje.Descripcion" tappable (click)="sendMessage()">
        {{ 'PANT031_BTN_EV' | translate }}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form>
    <ion-list>
      <ion-item class="item-without-padding">
        <span class="equi-title-form">{{ 'PANT031_LBL_MO' | translate }}</span>
      </ion-item>
      <ion-item class="item-without-padding">
        <ion-select class="equi-input-normal-text" placeholder="{{ 'PANT031_TXT_MOT' | translate }}Motivo"
                    name="tipo-contacto" [(ngModel)]="mensaje.MotivoContacto" required="true">
          <ion-option *ngFor="let motivo of motivos" value="{{motivo.ID}}">{{motivo.Descripcion}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item class="item-without-padding">
        <span class="equi-title-form">{{ 'PANT031_LBL_DES' | translate }}</span>
      </ion-item>
      <ion-item class="item-without-padding" no-lines>
        <ion-textarea class="equi-input-normal-text" autoresize name="descripcion" [attr.rows]="5"
                      [(ngModel)]="mensaje.Descripcion" required="true"
                      placeholder="{{ 'PANT031_TXT_DES' | translate }}"></ion-textarea>
      </ion-item>
      <ion-item class="item-without-padding">
        <span class="equi-title-form">Capturas de pantallas (opcional)</span>
      </ion-item>
      <ion-item text-wrap>
        <ion-grid>
          <ion-row>
            <ion-col tappable (click)="selectPhoto(images[0])">
              <div *ngIf="!images[0].base64" class="equi-contacto-select">
                <div>
                  <ion-icon name="ios-add-circle" style="font-size: 35px;"></ion-icon>
                  <br/>
                  Agregar foto
                </div>
              </div>
              <div *ngIf="images[0].base64" [ngStyle]="{ 'background-image': 'url(' + images[0].base64 + ')'}"
                   style="background-size: cover; background-repeat: no-repeat; height: 200px; width: 100%;">
              </div>
            </ion-col>
            <ion-col tappable (click)="selectPhoto(images[1])">
              <div *ngIf="!images[1].base64" class="equi-contacto-select">
                <div>
                  <ion-icon name="ios-add-circle" style="font-size: 35px;"></ion-icon>
                  <br/>
                  Agregar foto
                </div>
              </div>
              <div *ngIf="images[1].base64" [ngStyle]="{ 'background-image': 'url(' + images[1].base64 + ')'}"
                   style="background-size: cover; background-repeat: no-repeat; height: 200px; width: 100%;">
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
