<ion-header>
    <ion-toolbar>
        <ion-buttons left>
            <button ion-button class="equi-toolbar-btn" (click)="goBack()">
                Cancelar
            </button>
        </ion-buttons>

        <ion-buttons right>
            <button ion-button class="equi-toolbar-btn" [disabled]="!perfilForm.valid" (click)="save(perfilForm)">
                Guardar
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form #perfilForm="ngForm">
        <ion-grid>
            <ion-row>
                <ion-col col-2 class="col-center">
                    <ion-icon class="icon-input" name="person"></ion-icon>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-input type="text" name="nombre" placeholder="Nombre" required="true" [(ngModel)]="perfil.Nombre"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-2 class="col-center">
                    <ion-icon class="icon-input" name="mail"></ion-icon>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-input type="text" name="correo" placeholder="Correo" required="true" [(ngModel)]="perfil.Mail"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>


            <ion-row *ngFor="let telefono of perfil.PropietarioTelefono; let i = index">
                <ion-col col-2 class="col-center">
                    <ion-icon [ngClass]="{'icon-hidden': i > 0}" name="call" class="icon-input"></ion-icon>
                </ion-col>
                <ion-col col-5>
                    <ion-item>
                        <ion-input type="tel" name="telefono-{{i}}" required="true" [(ngModel)]="telefono.Numero" placeholder="Núm. Telefónico"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col col-3>
                    <ion-item>
                        <ion-input type="text" name="tipo-num-{{i}}" required="true" [(ngModel)]="telefono.TipoTelefono" (focus)="selectTipoTelefono($event, telefono)"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col col-2 class="col-center">
                    <ion-icon *ngIf="i != (perfil.PropietarioTelefono.length - 1) && i < (perfil.PropietarioTelefono.length)" name="remove-circle"
                        (click)="removeTelefono(i)" class="icon-input"></ion-icon>
                    <ion-icon *ngIf="(perfil.PropietarioTelefono.length - 1) == i" name="add-circle" (click)="addOtherTelefono()" class="icon-input"></ion-icon>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-2 class="col-center">
                    <ion-icon class="icon-input" name="flag"></ion-icon>
                </ion-col>
                <ion-col col-5>
                    <ion-item>
                        <ion-input type="text" name="pais" required="true" placeholder="País" [(ngModel)]="perfil.Pais" [readonly]="true" (focus)="selectPais()"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col col-5>
                    <ion-item>
                        <ion-input type="text" name="estado" required="true" placeholder="Provincia" [(ngModel)]="perfil.Estado" [readonly]="true"
                            (focus)="selectEstadoProvincia()"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

        </ion-grid>
    </form>
</ion-content>