<ion-header>
    <ion-toolbar>
        <ion-buttons left>
            <button ion-button class="equi-toolbar-btn" tappable (click)="goBack()">
                {{ 'PANT034_BTN_CAN' | translate }}
            </button>
        </ion-buttons>
        <ion-buttons right>
            <button ion-button class="equi-toolbar-btn" [disabled]="!establoForm.valid" tappable (click)="save()">
                {{ 'PANT034_BTN_GUA' | translate }}
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="establoForm">
        <ion-row>
            <ion-col col-2 class="col-center">
                <ion-icon class="equi-icon-input" name="home"></ion-icon>
            </ion-col>
            <ion-col>
                <ion-item>
                    <ion-input class="equi-input-normal-text" type="text" formControlName="Nombre" placeholder="{{ 'PANT034_TXT_NO' | translate }}"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-2 class="col-center">
                <ion-icon name="person" class="equi-icon-input"></ion-icon>
            </ion-col>
            <ion-col>
                <ion-item>
                    <ion-input class="equi-input-normal-text" type="text" formControlName="Manager" placeholder="{{ 'PANT034_TXT_MAN' | translate }}"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>

        <div formArrayName="Correos">
            <ion-row *ngFor="let correo of establoForm.get('Correos').controls; let i = index">
                <ion-col col-2 class="col-center">
                    <ion-icon [ngClass]="{'icon-hidden': i > 0}" name="mail" class="equi-icon-input"></ion-icon>
                </ion-col>
                <ion-col col-8>
                    <ion-item>
                        <ion-input class="equi-input-normal-text" type="email" [formControlName]="i" placeholder="{{ 'PANT034_TXT_CORR' | translate }}"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col col-2 class="col-center">
                    <ion-icon *ngIf="i != (establoForm.get('Correos').controls.length - 1) && i < (establoForm.get('Correos').controls.length)"
                        name="remove-circle" tappable (click)="removeCorreo(i)" class="equi-icon-input equi-icon-delete"></ion-icon>
                    <ion-icon *ngIf="(establoForm.get('Correos').controls.length - 1) == i" name="add-circle" tappable (click)="addOtherCorreo()" class="equi-icon-input"></ion-icon>
                </ion-col>
            </ion-row>
        </div>

        <div formArrayName="Telefonos">
            <ion-row *ngFor="let telefono of establoForm.get('Telefonos').controls; let i = index">
                <ion-col col-2 class="col-center">
                    <ion-icon [ngClass]="{'icon-hidden': i > 0}" name="call" class="equi-icon-input"></ion-icon>
                </ion-col>
                <ion-col col-5>
                    <ion-item>
                        <ion-input class="equi-input-normal-text" type="tel" [formControlName]="i" placeholder="{{ 'PANT034_TXT_NUM' | translate }}"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col col-3>
                    <ion-item>
                        <ion-input type="text" class="equi-principal-color equi-input-italic-text" [value]="getLabelTipoTelefoById(tipoTelefonoPorTelefono[i].tipoTelefono)"
                            [readonly]="true" (focus)="selectTipoTelefono(tipoTelefonoPorTelefono[i])"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col col-2 class="col-center">
                    <ion-icon *ngIf="i != (establoForm.get('Telefonos').controls.length - 1) && i < (establoForm.get('Telefonos').controls.length)"
                        name="remove-circle" tappable (click)="removeTelefono(i)" class="equi-icon-input equi-icon-delete"></ion-icon>
                    <ion-icon *ngIf="(establoForm.get('Telefonos').controls.length - 1) == i" name="add-circle" tappable (click)="addOtherTelefono()"
                        class="equi-icon-input"></ion-icon>
                </ion-col>
            </ion-row>
        </div>

        <ion-row>
            <ion-col col-2 class="col-center">
                <ion-icon name="pin" class="equi-icon-input"></ion-icon>
            </ion-col>
            <ion-col col-8>
                <ion-item>
                    <ion-input class="equi-input-normal-text" type="text" formControlName="Direccion" placeholder="{{ 'PANT034_TXT_DIR' | translate }}"></ion-input>
                </ion-item>

            </ion-col>
            <ion-col col-2 class="col-center">
                <ion-icon name="ios-map" class="equi-icon-input" tappable (click)="openMap()"></ion-icon>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-2 class="col-center">
                <ion-icon name="list-box" class="equi-icon-input"></ion-icon>
            </ion-col>
            <ion-col col-8>
                <ion-item>
                    <span class="equi-input-normal-text">{{establo.Caballo.length}} {{ 'PANT034_LBL_CAB' | translate }}</span>
                </ion-item>
            </ion-col>
            <ion-col col-2 class="col-center">
                <ion-icon name="add-circle" class="equi-icon-input" tappable (click)="showSelectionModal()"></ion-icon>
            </ion-col>
        </ion-row>
    </form>
</ion-content>
