<ion-header>
    <ion-toolbar>
        <ion-buttons left>
            <button ion-button class="equi-toolbar-btn" (click)="goBack()">
                Cancelar
            </button>
        </ion-buttons>
        <ion-buttons right>
            <button ion-button class="equi-toolbar-btn" [disabled]="!establoForm.valid" (click)="save()">
                Guardar
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="establoForm">
        <ion-row>
            <ion-col col-2 class="col-center">
                <ion-icon class="icon-input" name="home"></ion-icon>
            </ion-col>
            <ion-col>
                <ion-item>
                    <ion-input type="text" formControlName="Nombre" placeholder="Nombre"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-2 class="col-center">
                <ion-icon name="person" class="icon-input"></ion-icon>
            </ion-col>
            <ion-col>
                <ion-item>
                    <ion-input type="text" formControlName="Manager" placeholder="Manager"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>

        <div formArrayName="Correos">
            <ion-row *ngFor="let correo of establoForm.get('Correos').controls; let i = index">
                <ion-col col-2 class="col-center">
                    <ion-icon [ngClass]="{'icon-hidden': i > 0}" name="mail" class="icon-input"></ion-icon>
                </ion-col>
                <ion-col col-8>
                    <ion-item>
                        <ion-input type="email" [formControlName]="i" placeholder="Correo electrónico"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col col-2 class="col-center">
                    <ion-icon *ngIf="i != (establoForm.get('Correos').controls.length - 1) && i < (establoForm.get('Correos').controls.length)"
                        name="remove-circle" (click)="removeCorreo(i)" class="icon-input"></ion-icon>
                    <ion-icon *ngIf="(establoForm.get('Correos').controls.length - 1) == i" name="add-circle" (click)="addOtherCorreo()" class="icon-input"></ion-icon>
                </ion-col>
            </ion-row>
        </div>

        <div formArrayName="Telefonos">
            <ion-row *ngFor="let telefono of establoForm.get('Telefonos').controls; let i = index">
                <ion-col col-2 class="col-center">
                    <ion-icon [ngClass]="{'icon-hidden': i > 0}" name="call" class="icon-input"></ion-icon>
                </ion-col>
                <ion-col col-5>
                    <ion-item>
                        <ion-input type="tel" [formControlName]="i" placeholder="Núm. Telefónico"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col col-3>
                    <ion-item>
                        <ion-input type="text" [value]="getLabelTipoTelefoById(tipoTelefonoPorTelefono[i].tipoTelefono)" [readonly]="true" (focus)="selectTipoTelefono(tipoTelefonoPorTelefono[i])"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col col-2 class="col-center">
                    <ion-icon *ngIf="i != (establoForm.get('Telefonos').controls.length - 1) && i < (establoForm.get('Telefonos').controls.length)"
                        name="remove-circle" (click)="removeTelefono(i)" class="icon-input"></ion-icon>
                    <ion-icon *ngIf="(establoForm.get('Telefonos').controls.length - 1) == i" name="add-circle" (click)="addOtherTelefono()"
                        class="icon-input"></ion-icon>
                </ion-col>
            </ion-row>
        </div>

        <ion-row>
            <ion-col col-2 class="col-center">
                <ion-icon name="pin" class="icon-input"></ion-icon>
            </ion-col>
            <ion-col>
                <ion-item>
                    <ion-input type="text" formControlName="Direccion" placeholder="Dirección"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-2 class="col-center">
                <ion-icon name="list-box" class="icon-input"></ion-icon>
            </ion-col>
            <ion-col col-8>
                <ion-item>
                    {{caballos.length}} caballo(s)
                </ion-item>
            </ion-col>
            <ion-col col-2 class="col-center">
                <ion-icon name="add-circle" class="icon-input" (click)="showSelectionModal()"></ion-icon>
            </ion-col>
        </ion-row>
    </form>
</ion-content>