// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.toolbar-top-center {
    text-align: center;
}
.toolbar-top-title {
    text-transform: uppercase !important;
    font-size: 1.7rem !important;
    font-weight: 700 !important;
}
.toolbar-top-subtitle {
    font-size: 1.5rem !important;
    font-style: italic !important;
    color: #00A7A5 !important;
}
.item-without-padding {
    padding-left: 0px;
}
.content-title-text {
    font-size: 1.6rem;
    font-weight: normal;
}
.title-4 {
    font-weight: 500;
    font-size: 2rem;
}

.label-input {
    font-size: 1.6rem !important;
    font-weight: 700 !important;
}

.sublabel-input {
    font-size: 1.5rem !important;
    font-weight: 700 !important;
}

.button-text {
    text-transform: none !important;
    color: #00A7A5 !important;
    font-size: 1.6rem !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.icon-hidden {
    visibility: hidden;
}

.icon-input {
    font-size: 2.8rem;
    line-height: 1;
    margin-top: 11px;
    margin-bottom: 10px;
}

.col-center {
    text-align: center;
}