<ion-header>
  <ion-toolbar class="equi-toolbar">
    <ion-buttons left>
      <button ion-button icon-only tappable (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title class="equi-toolbar-title-content">
      <span class="equi-toolbar-title">{{nombreCaballo}}</span>
      <br/>
      <span class="equi-toolbar-subtitle">{{ "PANT007_LBL_SUBTDES" | translate }}</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="equi-title-form">
        {{ "PANT007_LBL_PRODESP" | translate }}
      </ion-col>
    </ion-row>
    <ion-row>
      <hr>
    </ion-row>
  </ion-grid>

  <div *ngIf="loadingNext" style="text-align: center;">
    <ion-spinner></ion-spinner>
  </div>

  <ion-list no-lines *ngIf="nextNotificacionList">
    <equi-next-alert-horse *ngFor="let notificacion of nextNotificacionList" [alert]="notificacion"
                           (actionClickItem)="view(notificacion)"
                           [labelDelete]="labels['PANT007_BTN_ELI']"
                           (actionDeleteItem)="delete(notificacion)"></equi-next-alert-horse>
  </ion-list>

  <ion-grid>
    <ion-row>
      <ion-col class="equi-title-form">
        {{ "PANT007_LBL_HIS" | translate }}
      </ion-col>
    </ion-row>
    <ion-row>
      <hr>
    </ion-row>

    <equi-button-add [label]="labels['PANT007_BTN_AGEN']" (action)="insert()"></equi-button-add>
  </ion-grid>

  <div *ngIf="loadingHistory" style="text-align: center;">
    <ion-spinner></ion-spinner>
  </div>

  <ion-list no-lines *ngIf="historyNotificacionList">
    <equi-history-alert-horse *ngFor="let notificacion of historyNotificacionList" [alert]="notificacion"
                              [professionPerson]="labels['PANT007_LBL_APLI']"
                              (actionEditItem)="edit(notificacion)" [labelDelete]="labels['PANT007_BTN_ELI']"
                              (actionDeleteItem)="delete(notificacion)"></equi-history-alert-horse>
  </ion-list>
</ion-content>
