<ion-header>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button class="equi-toolbar-btn" tappable (click)="cancel()">
        Cancelar
      </button>
    </ion-buttons>

    <ion-buttons right>
      <button *ngIf="!photoChanged" ion-button class="equi-toolbar-btn" tappable (click)="edit()">
        Editar
      </button>
      <button *ngIf="photoChanged" ion-button class="equi-toolbar-btn" tappable (click)="update()">
        Actualizar
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="photoLoading" style="padding: 20px;text-align: center;">
    <div>
      <ion-spinner></ion-spinner>
    </div>
  </div>
  <div *ngIf="!photoLoading">
    <img *ngIf="!photoBase64" src="assets/img/ficha-caballo.PNG"/>
    <img *ngIf="photoBase64" [src]="domSanitizer.bypassSecurityTrustUrl(photoBase64)"/>
  </div>
</ion-content>


