<ion-header>
    <ion-toolbar class="equi-toolbar">
        <ion-buttons left>
            <button class="equi-toolbar-btn" (click)="cancel()">
                {{ 'PANT025_BTN_CAN' | translate }}
            </button>
        </ion-buttons>

        <!--<ion-title class="equi-toolbar-title-content">
            <span *ngIf="establo.Nombre" class="equi-toolbar-title">Titutlo</span>
            <br *ngIf="establo.Nombre" />
            <span class="equi-toolbar-subtitle">Subtitulo</span>
        </ion-title>-->

        <ion-buttons right>
            <button class="equi-toolbar-btn" (click)="accept()">
                {{ 'PANT025_BTN_ACE' | translate }}
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col col-12>
                <ion-searchbar (ionInput)="filter($event)" [autocomplete]="true" [placeholder]="labels['PANT025_TXT_FIGR']"></ion-searchbar>
            </ion-col>
            <ion-col col-12>
                <button (click)="selectAll()" ion-button full>{{ 'PANT025_BTN_SETO' | translate }}</button>
            </ion-col>
        </ion-row>
    </ion-grid>

    <div *ngIf="showSpinner" style="text-align: center;">
        <ion-spinner></ion-spinner>
    </div>

    <ion-list no-lines>
        <ion-item *ngFor="let g of grupos" (click)="g.seleccion = !g.seleccion">
            <ion-avatar item-left>
                <img src="assets/img/caballo.jpg">
            </ion-avatar>

            <h2 class="equi-title-form" [ngClass]="{'equi-principal-color': g.seleccion}">{{g.grupo.Descripcion}}</h2>

            <ion-icon *ngIf="g.seleccion" class="equi-icon-input" name="remove-circle" item-right></ion-icon>
            <ion-icon *ngIf="!g.seleccion" class="equi-icon-unselected" name="add-circle" item-right></ion-icon>
        </ion-item>
    </ion-list>

</ion-content>